/*-----------------------------------------------------------------------------------*/
/*	Project Name: Responsive Flip Book powered by jQuery
/*	Author: MassivePixelCreation
/*	Author URI: http://www.blog.mpcreation.pl
/*	Version: 2.4
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Main Styles
/*-----------------------------------------------------------------------------------*/

html {
	/*image-rendering: optimizeQuality;*/
}

.flipbook-container,
.rfbwp-popup,
.rfbwp-shelf {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.flipbook-container *,
.flipbook-container *:before,
.flipbook-container *:after,
.rfbwp-popup *,
.rfbwp-popup *:before,
.rfbwp-popup *:after,
.rfbwp-shelf *,
.rfbwp-shelf *:before,
.rfbwp-shelf *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.flipbook-container {
	position: relative;
	margin: auto;
	z-index: 2;
	width: 100%;
	max-height: 100%;
}
.flipbook-container li[data-icon]:before,
.flipbook-container li[data-icon]:after {
	display: none;
}

.flipbook {
	position: relative;
	width: 700px; /* flip book width with border */
	height: 500px; /* flip book height with border */
	opacity: 1;
	z-index: 10;
}

.flipbook .turn-page {
	width: 350px; /* single page width with border */
	height: 500px; /* single page height with border */
	background-size: 100% 100%;
	background: black; /* border color */
}

div.flipbook div.fb-page {
	width: 100%;
	height: 100%;
}

div.flipbook div.fb-page div.fb-page-content {
	width: 345px; /* width of the height of the single page minus the border */
	height: 490px;
	margin: 0px 0px; /* Specifies Borderd */
	position: relative;
}

div.flipbook div.turn-page-wrapper {
	position: relative;
	overflow: hidden;
}

div.flipbook div.turn-page-wrapper > div {
 	pointer-events: none;
}
.turn-page-wrapper > div:nth-child(2) {
	background-image: none !important;
}
div.flipbook div.page-transition.last div.fb-page-content,
div.flipbook div.page-transition.even div.fb-page-content,
div.flipbook div.turn-page-wrapper.odd div.fb-page-content {
	margin-left: 0px;
	margin-right: 5px; /* Specifies Borderd */
}

div.flipbook div.turn-page-wrapper.first div.fb-page-content {
	margin-right: 5px;
	margin-left: 0px; /* Specifies Borderd */
}

div.flipbook div.page-transition.first div.fb-page-content,
div.flipbook div.page-transition.odd div.fb-page-content,
div.flipbook div.turn-page-wrapper.even div.fb-page-content,
div.flipbook div.turn-page-wrapper.last div.fb-page-content {
	margin-left: 5px; /* Specifies Borderd */
}

div.flipbook img.bg-img.zoom-large {
	opacity: 0;
	display: none;
}

div.flipbook-container div.fb-page-content img.bg-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 100% !important;
	visibility: hidden;
	padding: 0 !important;
}

div.flipbook-container div.fb-page-content img.bg-img-placeholder {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -109px;
	margin-top: -75px;
	padding: 0 !important;
}
div.flipbook-container div.show-all div.fb-page-content img.bg-img-placeholder {
	width: 54px;
	height: 38px;
	margin-left: -27px;
	margin-top: -19px;
}

div.flipbook-container div.single.fb-page-content > .fb-container,
div.flipbook-container div.single div.fb-page-content > .fb-container {
	overflow: visible;
	height: 100%;
}

div.flipbook-container div.double.fb-page-content > .fb-container,
div.flipbook-container div.double div.fb-page-content > .fb-container {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 200%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

div.flipbook-container div.double.fb-page-content.odd > .fb-container,
div.flipbook-container div.double div.fb-page-content.odd > .fb-container {
	margin-left: -100%;
}

div.flipbook-container div.double.fb-page-content.odd.wide-view > .fb-container,
div.flipbook-container div.double div.fb-page-content.odd.wide-view > .fb-container {
	margin-left: 0;
}

div.flipbook-container a.fb-container {
	display: block;
}

div.flipbook-container div.single .fb-container > div.page-html {
	padding: 6%;
}
div.flipbook-container .fb-container > div.page-html img {
	max-width: 100%;
	height: auto !important;
}
/* Defaults */
.flipbook-container p {
	margin: 0 0 1em;
	line-height: 1.5;
}
.flipbook-container h1,
.flipbook-container h2,
.flipbook-container h3,
.flipbook-container h4,
.flipbook-container h5,
.flipbook-container h6 {
	margin: 0 0 1em;
	line-height: 1.5;
}
div.flipbook-container .fb-container > div.page-html h1 { font-size: 3.429em; }
div.flipbook-container .fb-container > div.page-html h2 { font-size: 2.286em; }
div.flipbook-container .fb-container > div.page-html h3 { font-size: 1.714em; }
div.flipbook-container .fb-container > div.page-html h4 { font-size: 1.429em; }
div.flipbook-container .fb-container > div.page-html h5 { font-size: 1.143em; }
div.flipbook-container .fb-container > div.page-html h6 { font-size: 1em; }

div.flipbook-container .fb-container > div.page-html {
	position: relative;
	z-index: 10;
	pointer-events: all;
	padding: 3%;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
}

div.flipbook-container {
	direction: ltr;
}
div.flipbook-container.is-rtl div.page-html {
	direction: rtl;
}

div.flipbook-container div.double.fb-page-content div.left,
div.flipbook-container div.double div.fb-page-content div.left {
	float: left;
	width: 50%;
	padding-right: 3%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

div.flipbook-container div.double.fb-page-content div.right,
div.flipbook-container div.double div.fb-page-content div.right {
	float: right;
	width: 50%;
	padding-left: 3%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------*/
/*	Flip Book Shadows
/*-----------------------------------------------------------------------------------*/

.flipbook div.fb-inside-shadow-right,
.flipbook div.fb-inside-shadow-left {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 490px;
	top: 5px;
	right: 0px;
	z-index: 10;
	background: transparent url('../images/inner-shadow-left.png');
	pointer-events: none;
	background-size: 100%;
}

.flipbook div.fb-inside-shadow-right {
	left: 0px;
	background: transparent url('../images/inner-shadow-right.png');
	background-position: top left;
	background-size: 100%;
}

.flipbook div.fb-inside-shadow-left {
	right: 0px;
	background: transparent url('../images/inner-shadow-left.png');
	background-position: top right;
	background-size: 100%;
}

.flipbook div.fb-page-edge-shadow-right,
.flipbook div.fb-page-edge-shadow-left {
	position: absolute;
	width: 2px;
	height: 490px;
	top: 10px;
}

.flipbook div.fb-page-edge-shadow-right {
	right: 10px;
	z-index: 20;
}

.flipbook div.fb-page-edge-shadow-left {
	left: 10px;
	z-index: 11!important;
}

/* shadows under flip book */

.flipbook div.fb-shadow-top-right,
.flipbook div.fb-shadow-top-left,
.flipbook div.fb-shadow-bottom-right,
.flipbook div.fb-shadow-bottom-left {
	background: url('../images/page-curve-shadow.png') no-repeat;
	background-size: 100% 100%;
	width: 355px;
	height: 56px;
	display: inline-block;
	position: absolute;
	opacity: 0;
	z-index: 0!important;
	pointer-events: none;
}
.flipbook div.fb-shadow-top-right.force-hide,
.flipbook div.fb-shadow-top-left.force-hide,
.flipbook div.fb-shadow-bottom-right.force-hide,
.flipbook div.fb-shadow-bottom-left.force-hide{
	display: none;
}

.flipbook div.fb-shadow-bottom-left {
	left: 0px;
	bottom: -14px;
}

.flipbook div.fb-shadow-bottom-right {
	right: 0px;
	bottom: -14px;
}

.flipbook div.fb-shadow-top-left {
	left: 0px;
	top: -12px;
}

.flipbook div.fb-shadow-top-right {
	right: 0px;
	top: -12px;
}

/*-----------------------------------------------------------------------------------*/
/*	Zoom
/*-----------------------------------------------------------------------------------*/

.flipbook-container div.zoomed {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	z-index: 30;
	border: 10px solid #ECECEC;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #D0D0D0;
	background: #f3f3f3;
}
.flipbook-container .zoomed.use-touch {
	overflow-x: hidden;
	overflow-y: scroll;
}
.flipbook-container .zoomed.wide-view {
	overflow: scroll;
}

.flipbook-container div.zoomed .bg-img {
	margin-top: 0 !important;
	max-width: 200%;
	max-height: 100%;
}

.flipbook-container div.zoomed-shadow {
	position: absolute;
	margin: auto;
	background: url('../images/zoom-overlay.png') no-repeat;
	background-size: 100% 100%;
	z-index: 41;
	pointer-events: none;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.flipbook-container div.zoomed.double.odd {
	margin-left: 0px!important;
}

/* Video Player */
.flipbook-container div.video video,
.flipbook-container div.video object {
	position: relative;
	z-index: 15;
	display: block;
	pointer-events: all;
	margin: 0px auto;
}

.flipbook-container div.showall-shadow-top,
.flipbook-container div.showall-shadow-bottom,
.flipbook-container div.zoomed-shadow-top,
.flipbook-container div.zoomed-shadow-bottom {
	position: absolute;
	z-index: 20;
	opacity: 0;
	height: 55px;
	background-size: 100% 55px!important;
	background: transparent url('../images/shadow-big.png') no-repeat;
	pointer-events: none;
}

.flipbook-container div.showall-shadow-top,
.flipbook-container div.showall-shadow-bottom {
	height: 55px;
}

.flipbook-container div.zoomed-nav {
	width: 100%;
	position: relative;
}
.flipbook-container div.zoomed-nav a {
	position: absolute;
	top: 0;
	display: block;
	width: 37px;
	height: 37px;
	background: #eee;
}
.flipbook-container div.zoomed-nav .previous-page {
	left: 0;
	background: url('../images/ui/mobile/icon-prev.png') no-repeat center center;

	-webkit-transition: background 0.25s ease-out;
}
.flipbook-container div.zoomed-nav .previous-page:hover {
	background-position: -5px center;
}
.flipbook-container div.zoomed-nav .next-page {
	right: 0;
	background: url('../images/ui/mobile/icon-next.png') no-repeat center center;

	-webkit-transition: background 0.25s ease-out;
}
.flipbook-container div.zoomed-nav .next-page:hover {
	background-position: 5px center;
}

.flipbook-container .zoomed .fb-container {
	z-index: 2;
}

/*-----------------------------------------------------------------------------------*/
/*	Flip Book Navigation
/*-----------------------------------------------------------------------------------*/

.fb-nav {
	position: relative;
	margin: 0px auto 0px auto;
	display: block;
	opacity: 0;
	z-index: 1;
	overflow: hidden;
}

.fb-nav ul {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 10px !important;
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
}

.fb-nav ul li {
	position: relative;
	display: inline-block;
	list-style: none;
	margin-right: 0px;
	cursor: pointer;
	margin-left: 0px;
	text-align: center;
}

.fb-nav ul li.last {
	margin-right: 0px;
}

/* UI regular state */

.fb-nav ul li {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	        transition: all .25s;
}

.fb-nav ul li i {
	display: inline-block;
	line-height: 65px;
	font-size: 28px;
	color: inherit;
}

.fb-nav ul li.fullscreen i.icon-resize-small {
	display: none;
}
.fb-nav ul li.fullscreen.active i.icon-resize-small {
	display: inline-block;
}
.fb-nav ul li.fullscreen.active i.icon-resize-full {
	display: none;
}
.fb-nav ul li.slideshow i.icon-pause {
	display: none;
}
.fb-nav ul li.slideshow.active i.icon-pause {
	display: inline-block;
}
.fb-nav ul li.slideshow.active i.icon-play {
	display: none;
}

div.mobile.round,
div.big-side,
div.big-next {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	z-index: 100;
}
div.mobile.round.preview,
div.mobile.round.next {
	opacity: 0;
}
div.mobile.round.preview,
div.mobile.round.next,
div.big-side,
div.big-next {
	z-index: 1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

div.mobile.round.preview,
div.big-side.show-previous,
div.big-next.show-all-previous {
	text-align: left;
}
div.mobile.round.next,
div.big-side.show-next,
div.big-next.show-all-next {
	text-align: right;
}
div.big-side,
div.big-next {
	top: 50%;
	visibility: hidden;
}
div.big-side.active,
div.big-next.active {
	visibility: visible;
}

div.mobile.round.preview i,
div.mobile.round.next i,
div.big-side i,
div.big-next i {
	display: inline-block;
	line-height: 60px;
}
div.mobile.round.preview i:before,
div.mobile.round.next i:before
div.big-side i:before,
div.big-next i:before {
	width: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	Show All Pages Panel
/*-----------------------------------------------------------------------------------*/

.flipbook-container div.show-all {
	position: absolute;
	top: 0;
	z-index: 25;
	left: 100px;
	overflow: hidden;
	background: #F6F6F6;
	border-radius: 10px;
	border: 1px solid #D6D6D6;
	opacity: 0;
}

.flipbook-container div.show-all div.rfbwp-trim-top,
.flipbook-container div.show-all div.rfbwp-trim-bottom {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 20;
}
.flipbook-container div.show-all div.rfbwp-trim-top {
	top: 0;
}
.flipbook-container div.show-all div.rfbwp-trim-bottom {
	bottom: 0;
}

.flipbook-container div.show-all div.content {
	position: absolute;
	overflow: hidden;
	top: 12px;
	left: 12px;
}

.flipbook-container div.show-all div.content > div.show-all-thumb {
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 12px;
	float: left;
	height: 180px;
	width: 125px;
	border: 1px solid #878787;
	cursor: pointer;
}
.flipbook-container.is-rtl div.show-all div.content > div.show-all-thumb {
	float: right;
}
.flipbook-container div.show-all div.content > div.show-all-thumb.last,
.flipbook-container div.show-all div.content > div.show-all-thumb.even {
	margin-right: 0;
	border-right: none !important;
}
.flipbook-container div.show-all div.content > div.show-all-thumb.first,
.flipbook-container div.show-all div.content > div.show-all-thumb.odd {
	border-left: none !important;
}

.flipbook-container div.show-all div.content > div.show-all-thumb.last-thumb {
	margin-right: 0 !important;
}

.flipbook-container div.show-all div.content > div.show-all-thumb * {
	pointer-events: none;
}

.flipbook-container div.show-all div.content > div.show-all-thumb .mpc-numeration-wrap {
	width: 50%;
}
.flipbook-container div.show-all div.content > div.show-all-thumb.even .mpc-numeration-wrap {
	right: auto;
	left: 0;
}

/* Thumbnail shadow */
.flipbook-container div.show-all div.content > div.show-all-thumb span.shadow {
	display: block;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 11;
	pointer-events: none;
	opacity: 0;
}

.flipbook-container div.show-all div.content > div.show-all-thumb.even span.shadow {
	left: 0px;
	background: #FFFFFF;
	opacity: 0;
}

.flipbook-container div.show-all div.content > div.show-all-thumb.odd span.shadow {
	right: 0px;
	background: #FFFFFF;
	opacity: 0;
}

div.show-all-thumb.last img.bg-img,
div.show-all-thumb.first img.bg-img,
div.show-all-thumb.odd img.bg-img,
div.show-all-thumb.even img.bg-img {
	margin: 0px 0px 0px 0px!important;
	top: 0px!important;
	left: 0px!important;
	bottom: 0px!important;
	right: 0px!important;
}

div.show-all-thumb.double.odd img.bg-img {
	margin: 0px 0px 0px 0px!important;
	top: 0px!important;
	left: 0px!important;
	bottom: 0px!important;
	right: 0px!important;
}

.flipbook-container div.show-all div.show-all-thumb img.bg-img {
	width: 100% !important;
	height: 100% !important;
}

.flipbook-container div.show-all div.show-all-thumb.double img.bg-img {
	width: 200% !important;
	height: 100% !important;
}

/* big side button */
span.big-side {
	position: absolute;
	cursor: pointer;
	top: 0;
	z-index: 19;
	display: block;
	width: 60px;
	height: 300px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
span.big-side.show-previous {
	left: 0;
}
span.big-side.show-next {
	right: 0;
}

span.big-side.show-previous i,
span.big-side.show-next i {
	position: absolute;
	display: block;
	margin-top: -14px;
	top: 50%;
	height: 28px;
	width: 28px;
	font-size: 28px;
	line-height: 28px;
	z-index: 2;
}
span.big-side.show-previous i {
	text-align: left;
	left: 0;
}
span.big-side.show-next i {
	text-align: right;
	right: 0;
}

/* Fullscreen */
#rfbwp_fullscreen {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 10px;
	z-index: 100000;
	background: rgba( 0, 0, 0, .7 );
}
#rfbwp_fullscreen .flipbook-container {
	overflow: visible !important;
	margin: 0;
}

/* IE Fallback */

.ie_fallback .flipbook .page-transitions {
	display: none !important;
}

.ie_fallback .flipbook .fb-shadow-bottom-left,
.ie_fallback .flipbook .fb-shadow-bottom-right,
.ie_fallback .flipbook .fb-shadow-top-left,
.ie_fallback .flipbook .fb-shadow-top-right {
	display: none;
}

.ie_fallback div.preview.hidden,
.ie_fallback div.next.hidden {
	display: block !important;
	z-index: 10 !important;
	visibility: hidden;
}
.ie_fallback:hover div.preview.hidden,
.ie_fallback:hover div.next.hidden {
	visibility: visible;
}

/* Shelf */
.rfbwp-shelf {
	padding: 0 40px;
	height: 0;
	margin-top: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;

	transition: opacity .25s, filter .25s;
}
.rfbwp-shelf.rfbwp-wrapped {
	height: auto;
	overflow: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}

.rfbwp-shelf .rfbwp-shelf-books {
	font-size: 0;
	text-align: center;
}
.rfbwp-shelf .rfbwp-shelf-books:after {
	content: '';
	display: block;
	clear: both;
}
.rfbwp-shelf .rfbwp-shelf-book {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 10px;
	z-index: 2;
	outline: none;
	box-shadow: none;
}
.rfbwp-shelf .rfbwp-shelf-book img {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
}
.rfbwp-shelf .rfbwp-shelf-book {
	opacity: 1;

	-webkit-transition: opacity 0.25s ease-out;
	        transition: opacity  0.25s ease-out;
}
.rfbwp-shelf .rfbwp-shelf-book:hover {
	opacity: .7;
}

.rfbwp-shelf .rfbwp-shelf-book span {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 5px;
	font-size: 14px;

	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.rfbwp-shelf .rfbwp-shelf-book:hover span {
	background: #dddddd;
}

.rfbwp-shelf .rfbwp-shelf-book span[data-style="dark"] {
	color: #ffffff;
	background: rgba(0, 0, 0, .8);
}
.rfbwp-shelf .rfbwp-shelf-book span[data-style="light"] {
	color: #333333;
	background: rgba(255, 255, 255, .9);
}

.rfbwp-shelf .rfbwp-shelf-book span[data-position="top"] {
	top: 0;
}
.rfbwp-shelf .rfbwp-shelf-book span[data-position="middle"] {
	top: 50%;
	transform: translateY(-50%);
}
.rfbwp-shelf .rfbwp-shelf-book span[data-position="bottom"] {
	bottom: 0;
}

.rfbwp-shelf .rfbwp-shelf-book span[data-display="fade"] {
	opacity: 0;
}
.rfbwp-shelf .rfbwp-shelf-book:hover span[data-display="fade"] {
	opacity: 1;
}

.rfbwp-shelf .rfbwp-shelf-book span[data-display="scale"] {
	transform: scale(0);
}
.rfbwp-shelf .rfbwp-shelf-book:hover span[data-display="scale"] {
	transform: scale(1);
}
.rfbwp-shelf .rfbwp-shelf-book span[data-display="scale"][data-position="middle"] {
	transform-origin: 50% 0;
	transform: scale(0) translateY(-50%);
}
.rfbwp-shelf .rfbwp-shelf-book:hover span[data-display="scale"][data-position="middle"] {
	transform: scale(1) translateY(-50%);
}

/* Shelf box */
.rfbwp-popup-box,
.rfbwp-shelf-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	background: rgba(0, 0, 0, 0.75);
	padding: 30px 10px;

	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
	        transition: opacity 0.25s ease-out, visibility 0.25s ease-out;

	transform: translate3d(0,0,0);
}
@media screen and ( max-width: 768px ) {
	/*.rfbwp-popup-box,*/
	/*.rfbwp-shelf-box {*/
		/*overflow: scroll;*/
	/*}*/
}
.rfbwp-popup-box.rfbwp-active,
.rfbwp-shelf-box.rfbwp-active {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}
.rfbwp-popup-box .flipbook-container,
.rfbwp-shelf-box .flipbook-container {
	margin: 0;
}
.rfbwp-popup-box .rfbwp-close,
.rfbwp-shelf-box .rfbwp-close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	color: #eee;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 48px;
	z-index: 10000000;
	visibility: hidden;
	opacity: 0;

	-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
			transform: rotate(0deg);

	-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;

	-webkit-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out;
}
@media screen and ( max-width: 768px ) {
	.rfbwp-popup-box .rfbwp-close,
	.rfbwp-shelf-box .rfbwp-close {
		width: 1em;
		height: 1em;
	}
}
.rfbwp-popup-box .rfbwp-close.rfbwp-show,
.rfbwp-shelf-box .rfbwp-close.rfbwp-show {
	visibility: visible;
	opacity: 1;
}
.rfbwp-popup-box .rfbwp-close[data-reverse="true"],
.rfbwp-shelf-box .rfbwp-close[data-reverse="true"] {
	color: #222;
}
.rfbwp-popup-box .rfbwp-close[data-reverse="true"]:before,
.rfbwp-popup-box .rfbwp-close[data-reverse="true"]:after,
.rfbwp-shelf-box .rfbwp-close[data-reverse="true"]:before,
.rfbwp-shelf-box .rfbwp-close[data-reverse="true"]:after {
	background: #222;
}

.rfbwp-popup-box .rfbwp-close:before,
.rfbwp-popup-box .rfbwp-close:after,
.rfbwp-shelf-box .rfbwp-close:before,
.rfbwp-shelf-box .rfbwp-close:after {
	content: '';
	position: absolute;
	top: .325em;
	left: .325em;
	height: 1px;
	width: 1.2em;
	background: #ffffff;
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
			transform-origin: 0 0;

	-webkit-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out;
}
.rfbwp-popup-box .rfbwp-close:after,
.rfbwp-shelf-box .rfbwp-close:after {
	left: auto;
	right: .325em;
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
	-webkit-transform-origin: 100% 0;
		-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
@media screen and ( max-width: 768px ) {
	.rfbwp-popup-box .rfbwp-close:before,
	.rfbwp-popup-box .rfbwp-close:after,
	.rfbwp-shelf-box .rfbwp-close:before,
	.rfbwp-shelf-box .rfbwp-close:after {
		top: .25em;
		left: .25em;
		width: .725em;
	}
	.rfbwp-popup-box .rfbwp-close:after,
	.rfbwp-shelf-box .rfbwp-close:after {
		left: auto;
		right: .25em;
	}
}

.rfbwp-popup-box .rfbwp-close:hover,
.rfbwp-shelf-box .rfbwp-close:hover {
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
}
.rfbwp-popup-wrap,
.rfbwp-shelf-wrap {
	width: 100%;
	height: 100%;
}
@media screen and ( max-width: 768px ) {
	/*.rfbwp-popup-wrap,*/
	/*.rfbwp-shelf-wrap {*/
		/*height: auto;*/
	/*}*/
}
.rfbwp-popup-cache,
.rfbwp-shelf-cache {
	display: none;
}

/* Shelf faux image */
.rfbwp-scale {
	z-index: 1000000;
	position: fixed;
}
.rfbwp-scale.rfbwp-animate {
	-webkit-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out;
}
.rfbwp-scale img {
	position: relative;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}

/* Fade in */
.flipbook-container {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;

	transition: opacity .25s, filter .25s;
}
.flipbook-container.rfbwp-inited {
	 opacity: 1;
	 filter: alpha(opacity=100);
	 visibility: visible;
 }

/* Shelf display */
.rfbwp-shelf-display {
	position: relative;
	height: 10px;
	margin: 10px -50px 0;
	z-index: 1;
}
.rfbwp-shelf-front,
.rfbwp-shelf-front-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: 0 -10px;
}
.rfbwp-shelf-front-gradient {
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(127,127,127,0.2) 20%, rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(127,127,127,0.2) 20%, rgba(0,0,0,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff', endColorstr='#33000000', GradientType=0);
}
.rfbwp-shelf-top,
.rfbwp-shelf-top-gradient {
	display: block;
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 25px;

	-webkit-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
	-webkit-transform: perspective(50px) rotateX(15deg);
		-ms-transform: perspective(50px) rotateX(15deg);
	        transform: perspective(50px) rotateX(15deg);

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.rfbwp-shelf-top-gradient {
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.02) 100%);
	background: linear-gradient(to top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ffffff', endColorstr='#05000000', GradientType=0);
}
.rfbwp-shelf-shadow {
	display: block;
	position: absolute;
	top: 10px;
	left: 40px;
	right: 40px;
	height: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 90%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );
}
.rfbwp-stack .rfbwp-shelf-shadow {
	height: 100px;
}

/* Shelf styles */
.rfbwp-shelf-style-classic .rfbwp-shelf-front {
	background: #e0e0e0;
}
.rfbwp-shelf-style-classic .rfbwp-shelf-front-gradient {
	background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 20%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 20%, rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19ffffff', endColorstr='#19000000', GradientType=0);
}
.rfbwp-shelf-style-classic .rfbwp-shelf-top {
	background: #e7e7e7;
}
.rfbwp-shelf-style-classic .rfbwp-shelf-top-gradient {
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.02) 100%);
	background: linear-gradient(to top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ffffff', endColorstr='#05000000', GradientType=0);
}

.rfbwp-shelf-style-wood-light .rfbwp-shelf-front {
	background: url('../images/wood-light.jpg');
}
.rfbwp-shelf-style-wood-light .rfbwp-shelf-top {
	background: url('../images/wood-light.jpg');
}

.rfbwp-shelf-style-wood-dark .rfbwp-shelf-front {
	background: url('../images/wood-dark.jpg');
}
.rfbwp-shelf-style-wood-dark .rfbwp-shelf-top {
	background: url('../images/wood-dark.jpg');
}

/* Hard cover */
.rfbwp-cover-wrap {
	max-width: 100%;
	-webkit-perspective: 1800px;
	-webkit-perspective-origin: 0 50%;
	perspective: 1800px;
	perspective-origin: 0 50%;
}
.rfbwp-cover {
	position: relative;
	width: 400px;
	height: 534px;
	-webkit-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.rfbwp-cover.rfbwp-anim {
	-webkit-transition: -webkit-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	transition: transform .3s linear;
}
.rfbwp-cover img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
.rfbwp-cover img:nth-child(1) {
	-webkit-transform: translateZ(3px);
	-ms-transform: translateZ(3px);
	transform: translateZ(3px);
}
.rfbwp-cover img:nth-child(2) {
	-webkit-transform: translateZ(-3px) rotateY(180deg);
	-ms-transform: translateZ(-3px) rotateY(180deg);
	transform: translateZ(-3px) rotateY(180deg);
}
.rfbwp-back img:nth-child(1) {
	-webkit-transform: translateZ(3px);
	-ms-transform: translateZ(3px);
	transform: translateZ(3px);
}
.rfbwp-back img:nth-child(2) {
	-webkit-transform: translateZ(-3px) rotateY(180deg);
	-ms-transform: translateZ(-3px) rotateY(180deg);
	transform: translateZ(-3px) rotateY(180deg);
}
.rfbwp-back img:nth-child(1),
.rfbwp-front img:nth-child(1),
.rfbwp-cover.rfbwp-side-left img:nth-child(1),
.rfbwp-cover.rfbwp-side-right img:nth-child(2),
.rfbwp-back img:nth-of-type(1),
.rfbwp-front img:nth-of-type(1),
.rfbwp-cover.rfbwp-side-left img:nth-of-type(1),
.rfbwp-cover.rfbwp-side-right img:nth-of-type(2) {
	z-index: 2;
}
.rfbwp-back img:nth-child(2),
.rfbwp-front img:nth-child(2),
.rfbwp-cover.rfbwp-side-left img:nth-child(2),
.rfbwp-cover.rfbwp-side-right img:nth-child(1),
.rfbwp-back img:nth-of-type(2),
.rfbwp-front img:nth-of-type(2),
.rfbwp-cover.rfbwp-side-left img:nth-of-type(2),
.rfbwp-cover.rfbwp-side-right img:nth-of-type(1) {
	z-index: 1;
}
.rfbwp-side {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 6px;
	-webkit-transform-origin:  100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: translateZ(-3px) rotateY(90deg);
	-ms-transform: translateZ(-3px) rotateY(90deg);
	transform: translateZ(-3px) rotateY(90deg);
}

.rfbwp-cover-wrap {
	position: absolute;
	top: 0;
	left: 0;
}
.rfbwp-cover {
	width: 100%;
	height: 100%;
}
.rfbwp-front {
	z-index: 4;
}
.flipbook {
	z-index: 3;
}
.rfbwp-back {
	z-index: 2;
}
.rfbwp-back ~ .fb-nav {
	z-index: 1;
}

.flipbook-container[data-display="front"] .rfbwp-front { z-index: 4; }
.flipbook-container[data-display="front"] .flipbook { z-index: 3; }
.flipbook-container[data-display="front"] .rfbwp-back { z-index: 2; }

.flipbook-container[data-display="inside"] .rfbwp-front { z-index: 2; }
.flipbook-container[data-display="inside"] .flipbook { z-index: 3; }
.flipbook-container[data-display="inside"] .rfbwp-back { z-index: 2; }

.flipbook-container[data-display="back"] .rfbwp-front { z-index: 2; }
.flipbook-container[data-display="back"] .flipbook { z-index: 3; }
.flipbook-container[data-display="back"] .rfbwp-back { z-index: 4; }

.flipbook-container .rfbwp-front.rfbwp-left .rfbwp-cover {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg); /* translateX(0px) - FF fix */
}
.flipbook-container .rfbwp-back.rfbwp-left .rfbwp-cover {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.flipbook-container .rfbwp-front.rfbwp-both .rfbwp-cover {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flipbook-container .rfbwp-back.rfbwp-both .rfbwp-cover {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.flipbook-container .rfbwp-front.rfbwp-right .rfbwp-cover {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flipbook-container .rfbwp-back.rfbwp-right .rfbwp-cover {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.ie9 .flipbook-container .rfbwp-front.rfbwp-both .rfbwp-cover {
	left: -100%;
}
.ie9 .flipbook-container .rfbwp-front.rfbwp-right .rfbwp-cover,
.ie9 .flipbook-container .rfbwp-back.rfbwp-right .rfbwp-cover {
	left: -100%;
}

/* Navigation Styles */
.flipbook-container {
    margin: 20px 0;
}

.flipbook-container .fb-nav .alternative-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.flipbook-container .fb-nav ul li {
	-webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    -o-transition:  color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    transition:  color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    border: 0;
}
.flipbook-container div.mobile.round.preview,
.flipbook-container div.mobile.round.next,
.flipbook-container .fb-zoom-out,
.flipbook-container .big-side,
.flipbook-container .big-next {
    -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    -o-transition:  color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    transition:  color .25s ease-in-out, background-color .25s ease-in-out, border-radius .25s ease-in-out, border-color .25s ease-in-out;
    border: 0;
}
/* Nav - shadows/size/sizing */
.flipbook-container .fb-zoom-out i,
.flipbook-container span.big-side i,
.flipbook-container span.big-next i {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.flipbook-container div.mobile.round.preview,
.flipbook-container div.mobile.round.next,
.flipbook-container div.mobile.round.preview i,
.flipbook-container div.mobile.round.next i {
    box-shadow: none;
    text-shadow: none;
}
.flipbook-container .fb-nav {
    margin-bottom: 0 !important;
}
.flipbook-container .fb-nav ul {
    margin-bottom: 0;
    margin-top: 0 !important;
    padding-bottom: 0;
}
.flipbook-container .fb-nav ul li {
    padding: 10px;
    line-height: 1em;
	word-wrap: normal;
}
.flipbook-container .fb-nav ul li:last-child {
    margin-right: 0 !important;
}
.flipbook-container .fb-nav ul li i {
    line-height: 1em;
    width: 1em;
    height: 1em;
}
.flipbook-container .fb-nav ul li i.text {
	width: auto;
}
.flipbook-container .fb-nav .main-nav li i:nth-child(2) {
    display: none;
}
.flipbook-container .fb-nav .main-nav li.active i {
    display: none;
}
.flipbook-container .fb-nav .main-nav li.active i:nth-child(2) {
    display: inline-block;
}
.flipbook-container .fb-nav .alternative-nav li {
    display: none;
	visibility: hidden;
}
.flipbook-container .fb-nav .alternative-nav li.active,
.flipbook-container .fb-nav .alternative-nav li.active i {
    display: inline-block;
	visibility: visible;
}

/* Nav - Top */
#rfbwp_fullscreen .flipbook-container.top .flipbook { /* fix for Flipbook position */
    margin-top: 0 !important;
}
.flipbook-container:not(.nav-with-cover) .fb-nav.spread.top {
    margin-top: 0px;
    margin-bottom: 18px !important;
}
.flipbook-container:not(.nav-with-cover) .fb-nav.compact.top {
    margin-top: 0px;
    margin-bottom: -2px !important;
}
.flipbook-container.nav-with-cover .fb-nav.spread.top {
    margin-top: 0px;
    margin-bottom: 30px !important;
}
.flipbook-container.nav-with-cover .fb-nav.compact.top {
    margin-top: 0px;
    position: relative;
    top: 12px !important;
    padding-bottom: 20px !important;
}

/* Nav - Spread */
.flipbook-container .fb-nav.spread {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0 !important;
}
.flipbook-container.nav-with-cover .fb-nav.spread {
    margin-top: 30px;
}

/* Nav - Compact */
.flipbook-container .fb-nav.compact {
    margin-top: -2px;
}
.flipbook-container.nav-with-cover .fb-nav.bottom.compact {
    margin-top: 8px;
}

/* Nav - Aside */
.flipbook-container .fb-nav.aside {
    position: absolute;
    width: auto;
    top: 50% !important;
    z-index: 99;
}
.flipbook-container .fb-nav.aside .main-nav li {
    display: block !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.flipbook-container .fb-nav.aside .main-nav li:last-child {
    margin-bottom: 0 !important;
}
.flipbook-container .fb-nav.aside.left {
    left: 20px;
}
.flipbook-container .fb-nav.aside.right {
    right: 20px;
}

/* Nav - Arrows - Spread */
.flipbook-container div.spread.round.mobile.preview,
.flipbook-container div.spread.round.mobile.next,
.flipbook-container div.spread.big-next,
.flipbook-container div.spread.big-side,
.flipbook-container div.spread.round.mobile.preview,
.flipbook-container div.spread.round.mobile.next {
	text-align: center;
}

.flipbook-container div.spread.round.mobile.preview i,
.flipbook-container div.spread.round.mobile.next i,
.flipbook-container div.spread.mobile.round.preview i:before,
.flipbook-container div.spread.mobile.round.next i:before,
.flipbook-container div.spread.big-next i,
.flipbook-container div.spread.big-side i,
.flipbook-container div.spread.big-next i:before,
.flipbook-container div.spread.big-side i:before {
    line-height: 1;
    width: 1em;
    height: 1em;
	text-align: center;
}
.flipbook-container div.round.mobile.preview:not(.compact),
.flipbook-container div.round.mobile.next:not(.compact) {
    width: auto;
    height: auto;
}
.flipbook-container div.spread.round.mobile.preview,
.flipbook-container div.spread.round.mobile.next,
.flipbook-container div.spread.big-next,
.flipbook-container div.spread.big-side {
    line-height: 1;
    padding: 10px;
}
.flipbook-container div.spread.big-next,
.flipbook-container div.spread.big-side {
	display: none;
	visibility: hidden;
}
.flipbook-container div.spread.big-next.active,
.flipbook-container div.spread.big-side.active {
	display: block;
	visibility: visible;
}

/* Nav - Stacked Buttons */
.flipbook-container .fb-nav.buttonsStacked.aside ul li:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked.aside ul li:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked.aside ul li:last-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked:not(.aside) ul li:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked:not(.aside) ul li:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked:not(.aside) ul li:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.flipbook-container .fb-nav.aside ul li.active {
    display: block;
	visibility: visible;
}
.flipbook-container .fb-nav.aside {
    position: absolute;
    width: auto;
    top: 50% !important;
    z-index: 99;
	overflow: visible;
}
.flipbook-container .fb-nav.buttonsStacked.aside ul li:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked.aside ul li:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.flipbook-container .fb-nav.buttonsStacked.aside ul li:last-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	.fb-nav.aside, .rfbwp-close {
		-webkit-transform: scale(.75);
			-ms-transform: scale(.75);
				transform: scale(.75);
	}
}

/* Disable Zoom from BookShelf/Popup */
.rfbwp-shelf-box .fb-nav .fullscreen {
	display: none !important;
}
.rfbwp-popup .fb-nav .fullscreen {
	display: none !important;
}

/* Numeration */
.flipbook-container .mpc-numeration-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    line-height: 1em;
}
.flipbook-container .mpc-numeration-wrap.top {
    bottom: initial;
    top: 0;
}
.flipbook-container .fb-page-content.even .mpc-numeration-wrap,
.flipbook-container .fb-page-content.last .mpc-numeration-wrap {
    text-align: left;
}
.flipbook-container .fb-page-content.odd .mpc-numeration-wrap,
.flipbook-container .fb-page-content.first .mpc-numeration-wrap {
    text-align: right;
}
.flipbook-container .fb-page-content.even .mpc-numeration-wrap.center,
.flipbook-container .fb-page-content.odd .mpc-numeration-wrap.center,
.flipbook-container .fb-page-content.first .mpc-numeration-wrap.center,
.flipbook-container .fb-page-content.last .mpc-numeration-wrap.center {
    text-align: center;
}
.flipbook-container .fb-page.double .fb-page-content .mpc-numeration-wrap,
.flipbook-container .fb-page-content.zoomed .mpc-numeration-wrap {
    width: 50%;
}
.flipbook-container .fb-page.double .fb-page-content.even .mpc-numeration-wrap,
.flipbook-container .fb-page-content.zoomed.even .mpc-numeration-wrap {
    left: 0;
}
.flipbook-container .fb-page.double .fb-page-content.even .mpc-numeration-wrap.force-right,
.flipbook-container .fb-page-content.zoomed.even .mpc-numeration-wrap.force-right {
    left: auto;
}
.flipbook-container .mpc-numeration-wrap span {
    padding: 0 .5em;
    border-width: 0;
    display: inline-block;
}
.flipbook-container .fb-page-content.first .mpc-numeration-wrap[data-hide="true"] span,
.flipbook-container .fb-page-content.last .mpc-numeration-wrap[data-hide="true"] span,
.flipbook-container .fb-page-content.first .mpc-numeration-wrap[data-hide="1"] span,
.flipbook-container .fb-page-content.last .mpc-numeration-wrap[data-hide="1"] span {
    display: none;
}

.page-transition .fpage {
	overflow: hidden;
}

/* TOC */
ul.toc {
	list-style: none;
	margin-top: 10%;
	padding-left: 0px;
	font-size: 14px;
	margin-left: 0px;
}

ul.toc li {
	margin-top: 2.5%;
	cursor: pointer;
}
ul.toc li a {
	display: block;
}

/* ToC old */
.toc-old ul.toc li span.number {
	display: block;
	float: left;
	color: #ffffff;
	background: #A6B0BB;
	padding: .3em .5em;
	margin-right: 2%;
	max-width: 18%;
}
.toc-old ul.toc li span.text {
	display: block;
	float: left;
	width: 100%;
	color: #ffffff;
	background: #A6B0BB;
	padding: .3em .5em;
	background-size: 100%;
	width: 80%;
}
.toc-old ul.toc li a:after {
	display: block;
	float: none;
	clear: both;
	content: ' ';
}
.toc-old ul.toc li a:hover span {
	background: #878787;
}

/* ToC alternative */
.toc-new ul.toc li span.number {
	display: block;
	float: right;
	padding-left: 10px;
}
.toc-new ul.toc li span.text {
	display: block;
	width: 100%;
}
.toc-new ul.toc li span.text em {
	display: block;
	overflow: hidden;
	border-bottom: 2px dotted;
	position: relative;
	top: -.4em;
}
.toc-new ul.toc li span.text em:before {
	content: '-';
	color: transparent;
}
.toc-new ul.toc li span.text span {
	float: left;
	padding-right: 10px;
}
.toc-new ul.toc li a:after {
	display: block;
	float: none;
	clear: both;
	content: ' ';
}

@media screen and ( max-width: 768px ) {
	.flipbook-container {
		padding: 10px 0;
	}
}

/* Loader */
.rfbwp-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	z-index: 1;
}
.rfbwp-swap .rfbwp-loader {
	z-index: 3;
}
.rfbwp-loader .rfbwp-circle-one,
.rfbwp-loader .rfbwp-circle-two {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 5px solid #ffffff;
	border-radius: 50%;
	opacity: 0.75;
}
.rfbwp-loader .rfbwp-circle-one {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(0, 0, 0, 0.5);
}
.rfbwp-loader .rfbwp-circle-two {
	border: 5px solid transparent;
	border-top-color: #000000;
	opacity: 0.5;

	-webkit-animation: rotate 1.0s infinite linear;
	animation: rotate 1.0s infinite linear;
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.rfbwp-warning {
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 2px solid;
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 1.5em;
	color: #D24D57;
	font-weight: bold;
}
/* Hide "Anylink" */
a.rfbwp-popup-book.fb-anylink {
	display: none;
} 
/* Cooperate with element z-index reset */
.rfbwp-is-on {
    z-index: initial !important;
}