[class*="et_pb_custom_blog_"] article,
[class*="et_pb_custom_video_blog_"] article {
	display: flex;
}
[class*="et_pb_custom_blog_"]  article h2,
[class*="et_pb_custom_video_blog_"]  article h2 {
	font-weight: bold;
	color: #195595;
	height: 32px;
	overflow: hidden;
	padding-bottom: 0;
	line-height: 32px;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.custom_blog_image_container {
	width: 35%;
}

.custom_blog_post_info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

}
.custom_blog_post_info .post-text {
	width: 100%;
}
.has-post-thumbnail .custom_blog_post_info {
	width: 65%;
}
.custom_blog_post_info h2 {
	margin-top: 0;
}
.custom_blog_post_info {
	padding-left: 20px;
}
.custom_blog_post_info p{
	max-height: 120px;
	overflow: hidden;
}
[class*="et_pb_custom_blog_"] .more-link,
[class*="et_pb_custom_video_blog_"] .more-link {
	display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #195595;
    border-radius: 5px;
}
.custom-pagination {
	display: flex;
	justify-content: flex-end;
}
.custom-pagination .page-prev,
.custom-pagination .page-next {
	padding: 10px;
	background: #195595;
	margin: 0 8px;
    width: 43.33px;
    text-align: center;
	color: white;
}
.custom-pagination .current-page {
	background: #e43430;
	padding: 10px;
	border-radius: 100%;
    min-width: 43.33px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
[class*="et_pb_post_custom_nav_"] {
	display: flex;
	justify-content: space-between;
}
[class*="et_pb_post_custom_nav_"] .nav-previous,
[class*="et_pb_post_custom_nav_"] .nav-next {
	float: none;
    display: flex;
    width: 45%;
}
[class*="et_pb_post_custom_nav_"] a {
	display: flex;
}
[class*="et_pb_post_custom_nav_"] a .nav-thumbnail{
	width: 40%;
	padding-right: 10px;
}
[class*="et_pb_post_custom_nav_"] a .nav-info {
	width: 60%;
}
[class*="et_pb_post_custom_nav_"] a .nav-info h4 {
	color: #195595;
	height: 43px;
	line-height: 1.3;
	overflow: hidden;
	font-weight: 600;
}
#main-content [class*="et_pb_post_custom_nav_"] a .nav-info p {
	line-height: 1.5!important;
	margin-top: 10px;
}
body:not(.home) #main-content .relative-post-title {
	color: #195595!important;
	font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
p.entry-tags:not(:empty):before {
    content: "\f02b";
    font-family: FontAwesome;
    margin-right: 20px;
    transform: rotateZ(90deg);
    display: inline-block;
}
.page-numbers {
    padding: 6px 12px;
    background-color: #f6f6f6;
    border: 0;
    margin: 0 8px;
    border-radius: 4px;
    max-width: 100%;
    font-size: 16px;
    line-height: 21px;
    height: 36px;
    color: #666;
}
.page-numbers:hover {
    background-color: #ce1417;
    color: #FFF;
}
.page-numbers.current {
    background-color: #165094;
    color: #FFF;
}
@media screen and (max-width: 1024px) and (min-width: 992px) {
	#main-content [class*="et_pb_post_custom_nav_"] a .nav-info p {
		height: 48px;
		overflow: hidden;
	}
}
@media screen and (max-width: 991px) {
	[class*="et_pb_post_custom_nav_"] a .nav-info {
		padding-top: 20px;
	}
	.et_pb_posts_nav a {
		flex-wrap: wrap;
		flex-direction: column;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	[class*="et_pb_post_custom_nav_"] a .nav-thumbnail,
	[class*="et_pb_post_custom_nav_"] a .nav-info {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	[class*="et_pb_custom_blog_"]  article,
	[class*="et_pb_custom_video_blog_"]  article {
		flex-direction: column;
		flex-wrap: wrap;
	}
	[class*="et_pb_custom_blog_"]  article h2,
	[class*="et_pb_custom_video_blog_"]  article h2 {
		height: auto;
		padding-top: 10px;
		line-height: normal;
	}
	.custom_blog_post_info p {
		max-height: none;
	}
	.custom_blog_image_container, .custom_blog_post_info {
		width: 100%;
	}
	.has-post-thumbnail .custom_blog_post_info {
		width: 100%;
		padding-left: 0;
	}
	[class*="et_pb_post_custom_nav_"] {
		flex-wrap: wrap;
	}
	[class*="et_pb_post_custom_nav_"] .nav-previous,
	[class*="et_pb_post_custom_nav_"] .nav-next {
		width: 100%;
	}
	[class*="et_pb_post_custom_nav_"] .nav-next {
		background-color: rgb(240, 240, 240);
		margin-top: 10px;
		padding: 10px 0;
	}
	.et_pb_posts_nav a {
		flex-wrap: wrap;
		flex-direction: row;
	}
	[class*="et_pb_post_custom_nav_"] a .nav-info {
		padding-top: 0;
	}
	[class*="et_pb_post_custom_nav_"] a .nav-info h4 {
		height: 22px;
	}
	.custom_blog_post_info .post-link{
		padding-top: 20px;
	}
	.et_pb_section_8.et_pb_section {
	    padding-top: 10px;
	}
	.page-numbers.prev, .page-numbers.next, .page-numbers.dots,
	.page-numbers.dots:first-of-type:not(.current)+.page-numbers,
	.page-numbers.current+.page-numbers+.page-numbers:not(:nth-last-child(2)) {
		display: none;
	}
	.custom-pagination {
		justify-content: center;
	}
}
