.search select {
	width: 148px;
	height: 26px;
	border: 1px solid #dbdedf;
	border-radius: 2px;
}

.search input {
	height: 25px;
	padding-left: 10px;
}
.search #main-content {
    margin-bottom: 20px;
}

.search .search-time select {
	padding-left: 88px;
}

.search .search-location select {
	padding-left: 55px;
}

.project-tab .et_pb_all_tabs .og-grid li {
	margin-top: 14px;
	margin: 14px 0 14px 5%;
	width: 30%;
}

.project-tab .et_pb_all_tabs .og-grid li img {
	width: 100%;
	max-height: 218px;
}

.project-tab .et_pb_all_tabs .og-grid li:nth-of-type(1) {
	margin-left: 0;
}

.project-tab .et_pb_all_tabs .og-grid li:nth-child(3n+4) {
	margin-left: 0;
}

.post-265 .et_pb_row.et_pb_row_1 {
	width: 100%;
	max-width: inherit;
}

.post-265 .display-none {
	display: none;
}

.custom_tab_project .og-grid,
.custom_tab_project ul.et_pb_tabs_controls.clearfix {
	/*width: 80%;*/
	max-width: 1080px;
	margin: auto;
}

.custom_tab_project ul li a {
	font-size: 25px;
}

.custom_tab_project ul li .project-detail-tab a {
	font-size: 20px;
	color: #fff;
}

.custom_tab_project .tab-infomation .et_pb_tabs_controls li a,
.custom_tab_project .tab-infomation .info-detal {
	color: #fff !important;
	font-size: 17px;
}

.custom_tab_project .tab-infomation .info-detal p {
	font-size: 17px;
	line-height: 20px !important;
}

.custom_tab_project ul li span {
	font-size: 20px;
}

.font-bold {
	font-weight: bold;
}

.text-info-more .font-bold p {
	font-size: 21px;
	line-height: 22px !important;
}

.text-info-more .font-bold {
	margin-bottom: 10px !important;
	margin-top: -6px;
}

.text-info-more .et_pb_column_4,
.text-info-more .et_pb_column_6 {
	margin-right: 1.5%;
}

.text-info-more .et_pb_column_5 {
	margin-right: 2%;
}


/***************************\

    Section project detail Overlay

\***************************/

.custom_tab_project li .og-expander:before {
	background: rgba(9, 62, 120, 0.85);
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
}

.project-tab .og-expander {
	background: url(http://unicons.efe.com.vn/wp-content/uploads/2017/03/Vinhomes-Central-Park.jpg) center bottom !important;
	/*height: auto !important;*/
	background-size: cover !important;
}

.custom_tab_project .image-wrap {
	margin-bottom: 20px;
}

.custom_tab_project .og-pointer {
	margin: -6px 0 0 -15px;
}


/***************************

    Custom Section project detail

***************************/

.custom_tab_project .og-fullimg,
.custom_tab_project .rcpigslide-wrapper,
.custom_tab_project .infosep,
.custom_tab_project .og-details p {
	display: none;
}

.custom_tab_project .og-details {
	height: initial;
	padding: 0;
	float: initial;
}

.custom_tab_project .og-details h3 {
	text-transform: uppercase;
	font-size: 44px;
}

.custom_tab_project .display-none.project-detail-tab {
	display: block;
	background-color: rgba(255, 255, 255, 0);
	padding-top: 0;
}

.custom_tab_project .display-none.project-detail-tab h3 {
	color: #fff;
	font-size: 28px;
}

.custom_tab_project .og-details h3 {
	border-bottom: 0 !important;
	box-shadow: 0 0px #1c4f88 !important;
	color: #fff !important;
}

.custom_tab_project .og-details:before,
.custom_tab_project .og-details:after {
	border-left: none;
	content: initial;
}

.custom_tab_project .og-expander-inner {
	width: 80%;
	max-width: 1080px;
	margin: auto;
	padding: 30px 0;
	position: relative;
}

.custom_tab_project .og-close {
	background: rgba(255, 255, 255, 0) !important;
	width: initial;
	height: initial;
	right: 0;
	top: 50px;
	text-decoration: underline;
	color: #fff;
}

.custom_tab_project .og-close:after,
.custom_tab_project .og-close:before {
	content: initial;
}

.custom_tab_project .tab-infomation .et_pb_tabs_controls li a:after {
	height: 1px;
	background: #426b99;
	opacity: 1;
}

.custom_tab_project .tab-infomation .et_pb_tabs_controls li.et_pb_tab_active a:after {
	height: 4px;
	background: #fff;
}

.custom_tab_project .tab-infomation ul li {
	width: 20% !important;
	margin-left: 0 !important;
}

.custom_tab_project .tab-infomation .et_pb_all_tabs {
	float: left;
}

.custom_tab_project .et_pb_all_tabs .et_pb_tab.clearfix {
	padding: 0;
}

.tab-infomation {
	border: none;
}

.tab-infomation ul.et_pb_tabs_controls.clearfix {
	margin-left: 0 !important;
	background-color: rgba(244, 244, 244, 0);
}

.tab-infomation ul li {
	border-right: none;
}

.tab-infomation .et_pb_tab {
	padding: 0;
}

.infomation .info-left,
.info-right {
	display: inline-block;
	vertical-align: top;
}

.infomation .info-left {
	width: 39%;
}

.infomation .info-right {
	width: 60%;
	float: right;
	margin-top: -15px;
	position: relative;
	z-index: 9999;
}

.infomation .info-right img {
	max-height: initial !important;
}

.infomation table,
.infomation table tr,
.infomation table td,
.infomation table th {
	border: none;
	padding: 0;
	color: #fff;
}

.infomation table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.infomation table tr {
	line-height: 20px !important;
}

.infomation table td {
	text-align: right;
}

.infomation table th {
	padding-left: 30px;
}

.custom_tab_project ul.et_pb_tabs_controls li {
	border-bottom: none;
	/*border-bottom: 1px solid #426b99 !important;*/
}

@media only screen and (max-width: 1024px) and (min-width: 980px) {
	#main-content .homepage_careers .job-item .info p:nth-child(1) {
		font-size: 15px;
	}
	.homepage_careers .slick-track,
	.homepage_careers .slick-list {
		height: 100%;
	}
	.et_pb_row.et_pb_row_9 {
		padding-bottom: 30px;
	}
	.et_pb_code.et_pb_module.text-white.et_pb_code_14{
		margin-bottom: 75px;
	}
	.flip-box-tuyen-dung .flip-box-back-inner{
		top: 0 !important;
		transform: inherit !important;
	}
}

@media screen and (max-width: 1024px) {
	.custom_tab_project .tab-infomation ul.et_pb_tabs_controls.clearfix {
		width: 100%;
	}
	.infomation .info-right {
		width: 45%;
	}
	.infomation .info-left {
		width: 53%
	}
	.custom_tab_project .og-close {
		top: 50px;
	}
	.text-info-more .font-bold {
		margin-top: 0px;
	}
}

@media screen and (max-width: 918px) {
	.custom_tab_project .tab-infomation ul.et_pb_tabs_controls.clearfix li {
		width: 147px !important;
	}
}

@media only screen and (max-width: 836px) {
	.infomation .info-left,
	.infomation .info-right {
		width: 100%;
	}
	.infomation .info-right {
		margin-top: 15px;
	}
	.custom_tab_project .tab-infomation ul.et_pb_tabs_controls.clearfix li {
		width: 100% !important;
	}
}

@media screen and (max-width: 767px) {
	.search .et_pb_text_0 {
		text-align: center;
	}
	#main-content .new-all p {
		font-size: 14px;
	}
	.new-all.et_pb_section {
		padding: 30px 0;
	}
	.new-all .section-bottom-home {
		width: 100% !important;
	}
	.new-all .section-bottom-home .section_title {
		padding-left: 20px!important;
	}
	.new-all .section-bottom-home .section_title:after {
		left: 20px;
	}
	.new-all .home_news {
		padding-top: 2px;
	}
	.new-all .home_news .big-item {
		background: none;
		border-bottom: 1.5px solid rgba(203, 179, 179, 0.38);
	}
	.new-all .home_news .big-item .et_pb_column {
		margin-bottom: 5px;
	}
	.new-all .home_news .big-item .et_pb_column:nth-child(1) {
		padding: 0 10px;
	}
	.new-all .home_news .big-item .et_pb_column:nth-child(2) {
		padding-left: 20px;
		padding-right: 20px;
	}
	.new-all .home_news .small-items {
		margin-top: 0;
	}
	.new-all .home_news .small-items .et_pb_column {
		margin-bottom: 0;
		border-bottom: 1.5px solid rgba(203, 179, 179, 0.38);
		padding: 15px 10px;
	}
	.new-all .home_news .small-items .et_pb_column:nth-child(2n) {
		background: none;
	}
	.new-all .home_news .small-items .et_pb_column:last-child {
		border-bottom: none;
	}
	.new-all .home_news .small-items .content-wrap {
		padding: 0;
	}
	.new-all .home_news .small-items .content-wrap p {
		color: #333;
		font-weight: 700;
		display: block;
		margin-top: 15px;
	}
	.new-all .home_news .small-items .image-wrap {
		margin-right: 20px;
	}
	.new-all .home_news .small-items .content-wrap h2 {
		white-space: normal !important;
	}
	#home-news-1, #home-news-2 {
		padding-bottom: 20px;
	}
	#home-news-2 {
		border: none;
	}
}

@media screen and (max-width: 667px) {
	.search .search-title {
		display: block;
		padding-bottom: 10px;
	}
	.search select {
		width: 140px;
	}
	.blue-button a,
	.white-button a {
		display: inline-block;
		padding: 5px 25px;
	}
	.blue-button,
	.white-button {
		text-align: center;
	}
	.title-video {
		font-size: 16px;
	}
	.big_post_column_middle.et_pb_column_15 {
		margin-bottom: 0;
	}
	.new-all .home_news .small-items .content-wrap p {
		max-height: 145px;
		overflow: hidden;
	}
}

@media screen and (max-width: 640px) {
	.new-all .home_news .small-items .content-wrap p {
		max-height: 130px;
	}
}

@media screen and (max-width: 568px) {
	.search select,
	.search input {
		width: 140px;
	}
	.new-all .home_news .small-items .content-wrap p {
		max-height: 105px;
	}
}

@media screen and (max-width: 500px) {
/*	.search div,
	.search input {
		width: 100%;
	}*/
	.project-tab .et_pb_all_tabs .og-grid li {
		width: 45%;
	}
	.project-tab .et_pb_all_tabs .og-grid li:nth-child(2n+2) {
		margin-left: 10%;
	}
	.project-tab .et_pb_all_tabs .og-grid li:nth-child(2n+1) {
		margin-left: 0;
	}
	.custom_tab_project .og-close {
		top: 10px;
	}
	.project_pagination .button-container {
		margin: auto;
		float: inherit;
	}
	.project_pagination .pages li {
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 414px) {
	.new-all .home_news .small-items .content-wrap p {
		max-height: 45px;
	}
	.new-all .home_news .small-items .content-wrap h2 {
		height: 36px !important;
	}
	.new-all .home_news .small-items .content-wrap p {
		margin-top: 10px;
	}
}

.about {
	margin-top: -50px;
}

.about>.et_pb_all_tabs {
	padding-top: 50px;
}
@media (max-width: 767px) {
	.about {
		margin-top: -38px;
	}
}

.bottom-gallery .et_pb_gallery_item {
	width: 30% !important;
	margin: 0 5% 5.5% 0 !important;
}

.bottom-gallery .et_pb_gallery_item:last-child {
	margin-right: 0px !important;
}

.bottom-gallery .et_pb_gallery_title {
	text-align: center !important;
}

.same-align-tab ul.et_pb_tabs_controls li {
	border-bottom: none !important;
	margin-right: 30px !important;
}

.same-align-tab ul.et_pb_tabs_controls li a {
	padding-right: 0px !important;
}

.content-80 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.timeline ul.et_pb_tabs_controls li {
	margin-right: 0px !important;
	width: calc(100%/11) !important;
}

@media screen and (max-width:980px) {
	.timeline ul.et_pb_tabs_controls li a {
		font-size: 15px;
	}
}

.timeline ul.et_pb_tabs_controls {
	width: auto !important;
	margin-left: -13%;
	margin-right: -13%;
	text-align: center;
	padding-left: 10% !important;
	padding-right: 10% !important;
	border: none;
	/*border-bottom: 1px solid #f1f1f1;*/
}

.timeline ul.et_pb_tabs_controls:after {
	content: " ";
	display: block;
	background-color: #f1f1f1;
	min-width: 150%;
	height: 2px;
	padding-left: 0px;
	margin-left: -28.5%;
	margin-right: -28.5%;
}

.timeline .caption {
	text-align: center !important;
	font-weight: bold;
}

.timeline .gallery-item {
	width: 47.5%;
	float: left;
	margin-right: 5%;
	margin-bottom: 30px;
}

.timeline .gallery-item.right {
	margin-right: 0px;
}

.content-30 {
	width: 30%;
}

.content-70 {
	width: 70%;
}

.info {
	overflow: hidden;
	margin-top: 50px;
}

.info .content-30 {
	padding-right: 6%;
}

@media screen and (max-width:768px) {
	.content-30,
	.content-70 {
		width: 100%;
		margin-bottom: 50px;
	}
}

.info .content-30,
.info .content-70 {
	float: left;
}

.info .title {
	position: relative;
}

.info .title h3 {
	text-align: left;
	color: #195595;
	text-transform: uppercase;
	font-weight: bold;
}

.info .title:after {
	position: absolute;
	content: "";
	margin-top: 15px;
	margin-left: 0px;
	width: 50px;
	height: 3px;
	background-color: #195595;
}

.about-2 {
	text-align: center;
}

.about-2 .section {
	margin-bottom: 50px;
}

.about-2 .title {
	margin-bottom: 50px;
}

.about-2 .title h3 {
	font-weight: 500;
	font-size: 20px;
	color: #195595 !important;
	padding-left: 0;
	position: relative;
}

.about-2 .title:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 5px;
	background-color: #195595;
	margin-top: 10px;
	margin-left: -50px;
}

.about-2 .gallery .item {
	width: 13%;
	float: left;
	margin-right: 4%;
}

.about-2 .gallery .item:last-child {
	margin-right: 0px;
}

@media screen and (max-width: 768px) {
	.about-2 .gallery .item {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}

@media screen and (max-width: 900px) {
	.about-2 {
		margin-top: 100px;
	}
	.page-id-707 .about-2 {
		margin-top: 0;
	}
	.same-align-tab ul.et_pb_tabs_controls li {
		margin-right: 0 !important;
	}
	.leader .col-2:last-child {
		margin-left: 0.5%;
	}
}

.about-2 .gallery .item img {
	width: 100px;
	max-width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #fff;
}

.about-2 .gallery .item h3 {
	color: #195595;
}


/*About Coteccions Group*/

.custom-history-tab {
	border: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px !important;
}

.custom-history-tab ul.et_pb_tabs_controls {
	background: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -2px;
	height: auto !important;
}

.custom-history-tab ul.et_pb_tabs_controls li {
	border-right: none;
}

@media screen and (min-width: 768px) {
	.custom-history-tab ul.et_pb_tabs_controls li {
		width: 33%;
	}
}

.custom-history-tab ul.et_pb_tabs_controls li a {
	border-right: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.custom-history-tab ul.et_pb_tabs_controls li.et_pb_tab_active {
	border: 1px solid #d9d9d9;
	color: #195595 !important;
}
.custom-history-ta > ul {
	display: flex;
    align-items: stretch;
    flex-direction: row;
}
.custom-history-ta > ul > li {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
	.custom-history-tab ul.et_pb_tabs_controls li.et_pb_tab_active {
		border-bottom: none;
	}
}

.custom-history-tab ul.et_pb_tabs_controls li.et_pb_tab_active a {
	color: #195595 !important;
}

.custom-history-tab .et_pb_all_tabs {
	border: 1px solid #d9d9d9;
}

.custom-history-tab .et_pb_all_tabs .content-title {
	font-weight: bold;
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	;
}

.custom-history-tab .et_pb_all_tabs .content-title::before {
	content: "";
	height: 2px;
	background-color: #f21338;
	position: absolute;
	width: 10%;
	top: 30px;
}

.custom-history-tab .et_pb_all_tabs .content-title::after {
	content: "";
	height: 1px;
	background-color: #d7d7d7;
	position: absolute;
	width: 100%;
	left: 0;
	top: 29px;
}

.custom-history-tab .et_pb_all_tabs .content {
	margin-left: 20px;
}

.custom-history-tab .et_pb_all_tabs .table.content {
	margin-left: 0px;
}

.custom-history-tab .et_pb_all_tabs table.history,
.custom-history-tab .et_pb_all_tabs table.history tr th,
.custom-history-tab .et_pb_all_tabs table.history tr td {
	border: 1px solid #d7d7d7;
	text-align: justify;
}

.custom-history-tab .et_pb_all_tabs table.history tr th {
	white-space: nowrap;
}

.custom-history-tab .et_pb_all_tabs table.history tr:nth-child(2n+1) {
	background-color: #f9f9f9;
}


/*Abilities*/

.abilities .section .title {
	text-transform: uppercase;
	color: #195595;
	position: relative;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 50px;
	position: relative;
}

.abilities .section .title:after {
	content: "";
	position: absolute;
	width: 72px;
	height: 3px;
	background-color: #195595;
	top: 30px;
	left: 0px;
}

.abilities .section .content {
	margin-bottom: 50px;
}

.abilities .section .content p {
	text-align: justify;
}

.abilities .section .slide-image.center {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.abilities .section .slide-image.center .item img {
	width: 100%;
}

.abilities .section .slide-image.center .col-10 .item img {
	width: 10%;
	float: left;
}

.abilities .section table.slide-image {
	border: none;
}

.abilities .section table.slide-image img {
	width: 100%;
}

.abilities .section table.slide-image tr td {
	border: none;
	padding: 0px 5px;
}

.section .content {
	overflow: hidden;
}

.col-2 .item {
	width: 48%;
	float: left;
	margin-left: 4%;
	margin-right: 1%;
}

.col-3 .item {
	width: 31%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

.col-3 .item.col-2 .item {
	width: 200%;
}

.col-3 .item.col-1 .item {
	width: 100%;
}

.col-2 .item:first-child {
	margin-left: 0px;
}

.col-2 .item:last-child,
.col-2 .item:first-child {
	margin-right: 0px;
}

.col-2 .item img {
	width: 100%;
}

.abilities .section .slide-image {
	overflow: hidden;
	margin-bottom: 50px;
}
.contact-page .col-2 .item:first-child {
	padding: 0 20px;
	position: relative;
}
.contact-page .col-2 .item:first-child:before {
    content: "\f015";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    line-height: 30px;
    font-family: FontAwesome;
    font-size: inherit;
    color: black;
}
.contact-page .col-2 .item:last-child {
	margin-left: 0;
}
.contact-page .col-2 .item .fa {
	margin-right: 7px;
}
/*About leader*/

.leader {
	margin-bottom: 50px;
}

.leader .col-2:last-child {
	margin-right: 1%;
}
.leader .col-3 {
	width: 31%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 50px;
}

.leader .top {
	float: none;
	width: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 768px) {
	.abilities .section .slide-image {
		margin-bottom: 10px;
	}
	.leader .col-2,
	.leader .col-2.top,
	.leader .col-3 {
		width: 100%;
		float: left;
		margin-left: auto;
		margin-right: auto;
	}
}
.leader {
    display: flex;
	flex-wrap: wrap;
}
.leader .avatar {
	line-height: 0;
}
.leader .avatar img {
    width: 100%;
}

.leader .content {
    overflow: hidden;
	transition: all 0.5s;
}
body:not(.home) #main-content .leader .content p {
	color: white!important;
}

.leader .col-2 {
    width: 24%;
    float: none;
    margin-right: 1%;
}
.leader .col-2 .main {
    padding-top: 30px;
    color: white;
    z-index: 2;
    position: relative;
    background-repeat: repeat-x;
	transition: all 0.5s;
    padding-right: 10px;
	padding-bottom: 10px;
}
.leader .col-2.collapsed .main {
    background-image: linear-gradient(transparent, rgba(25, 85, 149, 0.78));
    margin-top: -139px;
}
.leader .col-2:not(.collapsed) .main {
	background-color: rgb(25, 85, 149);
	margin-top: 0;
}
.leader .col-2.double-role.collapsed .main {
    background-size: 100% 140px;
	max-height: 141px;
}
.leader .col-2.double-role:not(.collapsed) .main {
	background-size: initial;
}

.leader .col-2.double-role .sub-title{
	padding-top: 15px;
    line-height: 1.9;
}

.leader .main .title {
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.leader .main .sub-title {
	position: relative;
	margin-bottom: 20px;
}

.leader .main .sub-title::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 3px;
	background-color: white;
	top: calc(100% - 3px);
	left: 0px;
}

.leader .double-role .main .sub-title::after {
	display: none;
}

.leader:not(.manager) .col-2.collapsed .sub-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.leader .double-role:not(.collapsed) .sub-title:after {
	display: block;
}
.leader .main .content a {
	font-weight: bold;
	color: #000;
}

.leader .main .content p {
	text-align: justify;
}
@media (min-width: 992px) and (max-width: 1024px) {
	.leader .main .sub-title {
		font-size: 10px;
	}
	.leader .main .title {
		font-size: 18px;
	}
	.et_pb_tab.clearfix.et_pb_tab_1 .leader .main .sub-title{
		margin-bottom: 35px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.leader {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.leader .col-2 {
		width: 49%;
		margin-left: auto;
    	margin-right: auto;
   		margin-bottom: 5px;
	}
	.leader .col-2.double-role.collapsed .main {
		background-size: 100% 140px;
	}
	.leader .col-2.collapsed .main {
		margin-top: -140px;
	}
}
@media (max-width: 767px) {
	.leader {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.leader .col-2 {
		width: 100%;
		margin-right: 0;
	}
	.leader .col-2.double-role.collapsed .main {
		background-size: 100% 140px;
	}
	.leader .col-2.collapsed .main {
		margin-top: -140px;
	}
}

/*About Culture*/

.about-4 .section {
	overflow: hidden;
}

.about-4 .section.grey {
	margin-left: -13%;
	margin-right: -13%;
	padding-top: 50px;
	padding-left: 13%;
	padding-right: 13%;
	background-color: #f3f3f3;
}

.about-4 .section .content .content-part {
	margin-bottom: 1em;
	overflow: hidden;
}

.about-4 .section .content .content-part .left {
	float: left;
	width: 65%;
	margin-right: 1%;
	margin-left: 1%;
}

.about-4 .section .content .content-part .image.left {
	width: 30%;
}

@media screen and (max-width: 767px) {
	.about-4 .section .content .content-part .left {
		width: 100%;
	}
}

.about-4 .section .content .content-part .left p {
	text-align: justify
}


/*Abilities Safe */

.safe .col-2 .content {
	overflow: hidden;
}

.safe .col-2 .content,
.safe .col-2 .image {
	width: 50%;
	float: left;
}

@media screen and (max-width: 767px) {
	.safe .col-2 .content,
	.safe .col-2 .image {
		width: 100%;
		float: left;
	}
}

.safe .col-2 .image img {
	width: 100%;
}

.safe .col-1 .image.top,
.safe .col-1 .slide.col-3 {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

.safe .col-1 .image.top img {
	width: 100%;
	float: left;
}

.safe .col-1 .slide.col-3 img {
	width: 33.33%;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
}

.safe .col-1 .slide.col-3 img:first-child {
	padding-left: 0;
}

.safe .col-1 .slide.col-3 img:last-child {
	padding-right: 0;
}

.safe .title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: #195595;
}


/*Hiring*/

.hiring.gallery_2-2 {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.hiring.gallery_2-2 .item-wrapper {
	float: left;
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 5%;
	padding-bottom: 15px;
}

.hiring.gallery_2-2 .item-wrapper .thumbnail {
	width: 100%;
}

.hiring.gallery_2-2 .item-wrapper h3 {
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 20px;
	width: calc(100% - 20px);
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
}

.item-wrapper img {
	width: 100%;
}


/*Special Gallery*/

.special-gallery .row {
	overflow: hidden;
}

.special-gallery .row h3 {
	padding: 15px;
	color: #fff;
	height: 50%;
	font-weight: bold;
	background-color: #7A7A7A;
}

.special-gallery .row .content {
	padding: 15px;
	font-weight: bold;
	background-color: #fff;
}

.special-gallery .row .left {
	width: 100%;
	float: left;
	height: 150px;
	text-align: left;
}

.special-gallery .row .right {
	width: 100%;
	float: right;
	height: 150px;
	text-align: right;
}

.special-gallery .row .right h3,
.special-gallery .row .right .content {
	padding-left: 60%;
}

.special-gallery .row .left h3,
.special-gallery .row .left .content {
	padding-right: 50%;
}

.special-gallery .row .image {
	width: 60%;
	position: absolute;
	right: 0px;
	z-index: 999;
	text-align: right;
	/*top: 0px;*/
}

.special-gallery .row .left.image {
	right: unset;
	text-align: left;
	left: 0px;
}

.special-gallery .row .image svg {
	height: 150px
}

.slide_to_left {
	transition: transform 0.5s;
	transform: translateX(-100%);
}

.et_pb_section_video_bg .controller {
	display: block;
	position: absolute;
	right: 10%;
	bottom: 20px;
	width: 59px;
	height: 29px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	border-radius: 100px;
	padding-top: 2px;
}

.et_pb_section_video_bg .controller .fa {
	margin: 0 2px;
	width: 15px;
	height: 15px;
}

#hero-fullwidth-slider .et_pb_slide_description {
	margin-left: 10vw;
}

@media (min-width: 1350px) {
	#hero-fullwidth-slider .et_pb_slide_description {
		margin-left: calc((100vw - 1080px - 17px) / 2);
		height: 210px;
	}
}


/*And content page /thu-vien/*/

#video .media_fullwidth.video .resp-video-wrapper {
	margin-bottom: 0;
}

.media_fullwidth .content_wraper .small_post_image,
.media_fullwidth .content_wraper .small_post_info h3 {
	cursor: pointer;
}

.hide {
	display: none;
}

.media_fullwidth.image .image-view-clone img {
	border: 3px solid #fff;
	width: calc(100% - 10px);
	box-shadow: 0 0 10px #000;
	margin: 5px;
	border-radius: 2px;
}

.media_fullwidth.image .image-nav-clone {
	width: 80%;
	margin: auto;
}

.media_fullwidth.image .image-nav-clone .slick-slide {
	margin: 5px;
	border: 3px solid #fff;
	box-shadow: 0 0 5px #000;
	opacity: 0.5;
	cursor: pointer;
}

.media_fullwidth.image .image-nav-clone .slick-slide.slick-current {
	opacity: 1;
}


/*Fix icon Contect Group in footer*/

#text-3 #group-logos a:nth-child(2) img {
	/*max-width: 25%;*/
	margin-left: 5px;
}

#text-3 #group-logos a:nth-child(n+3) img {
	max-width: 23%;
	margin-left: 5px;
}


/*/quy-trinh-tuyen-dung/*/

.flip-box-tuyen-dung .fusion-flip-box {
	position: relative;
	margin-bottom: 3.5%;
}

.flip-box-tuyen-dung .flip-box-image {
	margin-bottom: 0 !important;
}

.flip-box-tuyen-dung .flip-box-image img {
	position: relative;
	z-index: 1;
}

.flip-box-tuyen-dung .fusion-flip-box:hover img {
	z-index: -1;
}

.flip-box-tuyen-dung .fusion-flip-box:hover .flip-box-content {
	opacity: 1;
}

.flip-box-tuyen-dung .flip-box-content {
	position: absolute;
	top: 0;
	left: 2.5%;
	width: 95%;
	height: 100%;
	border-radius: 17px;
	opacity: 0;
	transition: all 1s;
	overflow: auto;
}

.flip-box-tuyen-dung .flip-box-content.color-yellow {
	background-color: rgb(221, 165, 68);
}

.flip-box-tuyen-dung .flip-box-content.color-red {
	background-color: rgb(228, 48, 44);
}

.flip-box-tuyen-dung .flip-box-content.color-deepskyblue {
	background-color: rgb(0, 192, 221);
}

.flip-box-tuyen-dung .flip-box-content.color-blue {
	background-color: rgb(30, 115, 190);
}

.flip-box-tuyen-dung .flip-box-back-inner {
	text-align: center;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#main-content .flip-box-tuyen-dung .flip-box-back-inner strong,
#main-content .flip-box-tuyen-dung .flip-box-back-inner p {
	color: #fff !important;
}

#main-content .flip-box-tuyen-dung .flip-box-back-inner strong {
	font-weight: bold;
	padding-bottom: 14px;
}

#main-content .flip-box-tuyen-dung .flip-box-back-inner p {
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 25px !important;
}

.flip-box-tuyen-dung .flip-box-back-inner a {
	color: #195595;
}

.single-tap_san_noi_bo #main-content .container:before {
	width: 0;
}

.information_market .small-items h2 {
	display: inline-block;
	width: 45%;
	padding-left: 0;
	padding: 0;
	vertical-align: middle;
}

#top-menu .pll-parent-menu-item a {
	cursor: pointer;
}

#main-header .et_search_outer .container {
	max-width: 1080px !important;
}

.et_mobile_menu li.menu-item a {
	background: #fbfaf8;
}

.et_mobile_menu ul.sub-menu li.menu-item a {
	background: none;
}
