.section_title_logo { font-weight: 700; font-size: 20px; color: #1c6fa4; position: relative; padding-bottom: 20px; line-height: 1.2; }
.logo_expand .og-fullimg { display: none !important; }
.logo_expand .og-details { width: 100% !important; }
.logo_expand .rcpigslide-wrapper { background: none !important; box-shadow: none !important; }
.logo_expand .og-details:before { border-left: none !important; background: none !important; }
.logo_expand .og-details:after { border-right: none !important; background: none !important; }
.logo_expand .infosep { display: none; }
.logo_expand .og-details h3, .logo_expand .og-details p { border-bottom: none !important; box-shadow: none !important; text-align: center; }
.logo_expand .og-details h3 { display: none !important; }
.logo_expand .og-details p { font-size: 25px !important; color: #FFF !important; padding-bottom: 20px !important; }
.logo_expand ul.rcpigslide-list { text-align: center !important; }
.logo_expand ul.og-grid > li>a { border: 1px solid #e7e7e7; }
.client_fullwidth .et_pb_row { width: 100% !important; max-width: 100% !important; }
.client_fullwidth .et_pb_row .logo_expand ul.og-grid, .client_fullwidth .et_pb_row .client_logos_title { max-width: 1080px !important; margin: 0 auto !important; }
.client_logos_title { text-transform: uppercase; font-weight: 700; font-size: 20px; color: #1c6fa4; position: relative; padding-bottom: 10px; line-height: 1.2; margin-bottom: 15px; }
/*.et_pb_code.et_pb_module.client_logos_title:after { position: absolute; width: calc(98% - 146px); height: 1px; background: #efefef; top: 55%; content: ""; left: 146px; z-index: 1; }*/
.et_pb_code.et_pb_module.title_long.client_logos_title:after { position: absolute; width: calc(98% - 288px); height: 1px; background: #efefef; top: 55%; content: ""; left: 288px; z-index: 1; }
.et_pb_code.et_pb_module.client_logos_title { padding: 0 1%; }
.et_pb_fullwidth_code.et_pb_module.title.logo_client_header { line-height: 100%; }
.logo_expand .og-details, .client_project_content { display: none; }
.og-expander .et_pb_section.client_project_content.et_pb_section_6.et_pb_with_background.et_section_regular { display: inline-block; padding: 0 20%; }

a.client_next_button:after { content: '>'; position: absolute; height: 36px; color: grey; top: 45%; font-size: 30px; right: 10%; }
a.client_next_button:hover:after { color: #144780 }
@media only screen and (max-width:620px) { }
.logo_expand .og-expander { /*height: auto !important;  */ }
@media only screen and (max-width:620px) {
	.logo_expand li.all.og-expanded { margin-bottom: 20px !important; }
}

/**** Add by Rain. DO NOT DELETE PLEASE. *****/

#top-menu > li > a { text-transform: uppercase; }
#top-menu > li > a:hover { text-shadow: 0 0 2px #fff, 0 0 0px #fff; }
#top-menu > li { position: relative; margin-left: -3px; }
#top-menu > li:not(.special-menu-item)::before { border-right: 1px solid #fff; width: 1px; height: 16px; position: absolute; content: ''; top: 14px; right: 0; }
#top-menu > li > a::after { display: none; }
#top-menu > li:last-child:before { border-right: none; }
.et-pb-arrow-prev, .et-pb-arrow-next { background-color: rgba(27, 62, 97, 0.5); font-size: 35px; }
.view_all_1, .view_all { position: relative; padding-left: 15px; padding-right: 30px; }
.view_all_1::after, .view_all::after { content: "\f105"; width: 10px; height: 11px; position: absolute; display: inline-block; font-size: 17px; margin-left: 7px; top: 1px; font-family: FontAwesome;}
.view_all_1:hover, .view_all:hover { background: #e3302c; color: #fff; }
.main_services button.slick-prev { position: absolute; top: 30%; left: -50px; font-size: 0; border: none; background: none; cursor: pointer; }
.main_services button.slick-next { position: absolute; top: 30%; right: -50px; font-size: 0; border: none; background: none; cursor: pointer; }
.main_services button.slick-prev::before { display: inline-block; width: 35px; height: 35px; content: '‹'; background-color: #e3e1e1; color: #fff; font-size: 35px; line-height: 30px; }
.main_services button.slick-next::before { display: inline-block; width: 35px; height: 35px; content: '›'; background-color: #e3e1e1; color: #fff; font-size: 35px; line-height: 30px; }
.main_services button:hover::before { background-color: #e3302c; }
.client_logo_carousel button.slick-prev { position: absolute; top: 30%; left: -50px; font-size: 0; border: none; background: none; cursor: pointer; }
.client_logo_carousel button.slick-next { position: absolute; top: 30%; right: -50px; font-size: 0; border: none; background: none; cursor: pointer; }
.client_logo_carousel button.slick-prev::before { display: inline-block; width: 35px; height: 35px; content: '‹'; background-color: #e3e1e1; color: #fff; font-size: 35px; line-height: 30px; }
.client_logo_carousel button.slick-next::before { display: inline-block; width: 35px; height: 35px; content: '›'; background-color: #e3e1e1; color: #fff; font-size: 35px; line-height: 30px; }
.client_logo_carousel button:hover::before { background-color: #e3302c; }
#section-bottom-home { border-bottom: 1px solid #d8d8d8; }
#main-footer, #footer-bottom { background-color: #015089 !important; }
.information_market .image-wrap { width: 48%; margin-right: 15px; display: inline-block; vertical-align: middle;}
.information_market .et_pb_column { padding: 15px 10px;}
.white-button a:hover { background-color: #e3302c; color: #fff; }
.home_news .big-item .info .post-link a:hover { color: #e3302c; }
#main-content p { font-size: 16px; line-height: 30px !important; }
div { font-size: 16px; }
.et_pb_text_1 h1 { font-size: 16px !important; }
.leader .main .sub-title { padding: 12px 0; }
.leader .main { margin-top: -5px; padding-left: 10px; }
.et_pb_text_0 h1, .page-hero-overlay .title { font-size: 25px !important; text-transform: uppercase; font-weight: bold; }
#top-menu > li.current-menu-ancestor:after { position: absolute; content: ""; width: 100%; bottom: 0; left: 0; height: 2px; background: #e4302c; display: block; }
body:not(.home) #main-content p { color: #000 !important; }
.custom-history-tab { width: 100% !important; }
.custom-history-tab .et_pb_all_tabs .content-title::before { background-color: #0064b1 !important; }
.about-2 .title:after{ height: 3px !important; }
.title-page-content { text-transform: uppercase; font-weight: bold !important; font-size: 18px !important; }
.about-2 .gallery .item h3{ font-size: 20px; }
.btn-apply { display: inline-block; background: #d11511; color: #fff; text-transform: uppercase; padding: 8px 40px; border-radius: 4px; font-weight: bold; position: relative; padding-right: 50px; }
.btn-apply:hover { background: #195595; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; }
.btn-apply::after { content: '>'; height: 20px; width: 10px; position: absolute; right: 37px; font-size: 28px; top: 6px; }
.contact-page .section { max-width: 80%; margin: 0 auto; }
.contact-page .section p { padding-bottom: 5px; }
.contact-page { margin-top: 25px; }
.contact-page iframe { border: 4px solid #195595 !important; }
.contact-page hr { margin-top: 30px; margin-bottom: 35px; }
#main-content .form-contact .title { margin-bottom: 0 !important; font-size: 20px; color: #195595 !important; }
#wrap-form-contact{ margin-bottom: 40px; }
#wrap-form-contact > .et_pb_column { max-width: 80%; margin: 0 auto !important; float: none; }
#wrap-form-contact form.form-contact-us .gform_body{ position: relative; }
#wrap-form-contact form.form-contact-us ul li.contact-us-message { position: absolute; top: 0; margin-top: 0; right: 0; width: 50%; }
#wrap-form-contact form.form-contact-us #field_1_7 .ginput_recaptcha { transform: scale(0.8); -webkit-transform: scale(0.8); transform-origin: 0 0; -webkit-transform-origin: 0 0; position: absolute; bottom: -17px; right: 70px; z-index: 10; }
#wrap-form-contact form.form-contact-us #field_1_7 { margin-bottom: 0 !important; background: none; border: none; padding-top: 0; padding-bottom: 0; }
#wrap-form-contact form.form-contact-us #field_1_7 .validation_message { padding-top: 0; position: absolute; right: 0; text-align: right; }
#wrap-form-contact form.form-contact-us .gform_footer { position: absolute; bottom: 0; right: 0; text-align: right; padding: 0;}
#wrap-form-contact form.form-contact-us input[type="text"], #wrap-form-contact form.form-contact-us input[type="email"], #wrap-form-contact form.form-contact-us input[type="text"] { border-radius: 0; color: #999; background-color: #eee; font-size: 14px; height: 42px; border: none; padding-left: 15px; position: relative; z-index: 12;}
#wrap-form-contact form.form-contact-us textarea { background-color: #eee; border: none; padding-left: 15px; }
#wrap-form-contact form.form-contact-us ul li { margin-top: 0; }
#wrap-form-contact form.form-contact-us .ginput_container { margin-top: 0; }
#wrap-form-contact form.form-contact-us input[type="submit"] { border: 1px solid #195595; color: #195595; border-radius: 0; padding: 18px 40px; font-size: 20px; position: relative; background-color: transparent; font-weight: 700;: }
#wrap-form-contact form.form-contact-us input[type="submit"]:hover { background: #e43430; cursor: pointer; color: white; }
.media_fullwidth .video_wraper, .media_fullwidth .image_wraper, .media_fullwidth .content_wraper{ width: 100%; }
.media_fullwidth.video .small_post_info h3{ color: #fff; line-height: 20px; }
.media_fullwidth.image{ background: rgba(255,255,255,0.8) !important; }
.media_fullwidth.image h3{ line-height: 20px; }
.career-trainning .content{ background: #fff; margin-top: -10px; padding: 25px 0; }
.career-trainning .content h3 { font-weight: 700; font-size: 20px; padding-bottom: 20px; }
.career-trainning .content hr { max-width: 400px; margin-top: 40px; }
.img-phucloi{ max-width: 900px; margin: auto;}
.et_pb_tab .et_pb_row.career-welfare{ line-height: 0;}
.et_pb_tab .et_pb_row.career-welfare img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.et_pb_tab .et_pb_row.career-welfare:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.et_pb_tab .et_pb_row.career-welfare:nth-last-child(2), .et_pb_tab .et_pb_row.career-welfare:last-child{
	float: left;
	width: 50%;
}
#career-handbook .question_answer .sub { background: #195595 !important; color: #fff; font-size: 20px; display: inline-block; width: 25px; text-align: center; vertical-align: middle; padding-bottom: 2px; line-height: 20px; cursor: pointer; }
#career-handbook .question_answer .question { color: #000; font-size: 16px; font-weight: 600; padding-left: 15px; position: relative; top: 3px; }
#career-handbook .question_answer .answer { padding: 15px 0; padding-bottom: 5px; display: none; }
#career-handbook .question_answer .item { margin-left: 55px; padding-top: 10px; padding-bottom: 12px; border-bottom: 1px solid #ccc; }
#career-handbook .for_student { margin-top: 40px; }
#career-handbook .for_student .item .left { float: left; width: 10%; }
#career-handbook .for_student .item .right { float: left; width: 90%; }
#career-handbook .for_student .item .right h2 { color: #195595; font-size: 17px; font-weight: 700; }
#career-handbook .for_student .item .right h2:hover { color: #e43430; }
#career-handbook .for_student .item { clear: both; padding-left: 55px; margin-bottom: 15px; overflow: hidden; }
body.page-id-707{ overflow-x: hidden; }
.wrap-our-clients #og-grid.og-grid li a{ border: 1px solid #ccc; }
.wrap-our-clients #og-grid.og-grid li a img{ width: 100%; min-height: 120px; }
.wrap-our-clients #og-grid.og-grid li figure{ background: none !important; }
.wrap-our-clients #og-grid.og-grid li .image-wrap{ padding: 15px; background: none; }
.wrap-our-clients #og-grid.og-grid button.slick-prev { left: -50px; position: absolute; top: 95px; font-size: 0; border: none; background: none; cursor: pointer; }
.wrap-our-clients #og-grid.og-grid button.slick-prev::before { display: inline-block; background-color: #d0d0d0; width: 35px; height: 35px; font-size: 35px; line-height: 25px; opacity: 0.5; color: #fff; content: "‹"; }
.wrap-our-clients #og-grid.og-grid button.slick-next { right: -50px; position: absolute; top: 95px; font-size: 0; border: none; background: none; cursor: pointer; }
.wrap-our-clients #og-grid.og-grid button.slick-next::before { display: inline-block; background-color: #d0d0d0; width: 35px; height: 35px; font-size: 35px; line-height: 25px; opacity: 0.5; color: #fff; content: ">"; }
.wrap-our-clients #og-grid.og-grid button:hover::before { background-color: #e3302c; }
#why-unicons-people-tab .intro-first { margin-bottom: 30px; }
#why-unicons-people-tab .intro-first * { font-size: 18px; }
#why-unicons-people-tab .fullname { color: #195595; font-size: 18px; margin: 10px 0; }
#why-unicons-people-tab .position { color: #000; font-size: 16px; position: relative; }
#why-unicons-people-tab .position::after { width: 57px; height: 4px; position: absolute; content: ''; background: #195595; left: 0; bottom: -15px; }
#why-unicons-people-tab .introduce { margin-top: 25px; }
#why-unicons-people-tab .image img { max-height: 200px; }
#why-unicons-people-tab .slick-track > .slick-slide > div { margin-bottom: 0; border-bottom: 2px solid #fff; padding-bottom: 40px; }
#why-unicons-people-tab .slick-dots { list-style-type: none; padding-left: 0; }
#why-unicons-people-tab .slick-dots li { display: inline-block; cursor: pointer; }
#why-unicons-people-tab .slick-dots li.slick-active button{ background-color: #e43430; color: #fff; }
#why-unicons-people-tab button.slick-next { position: absolute; bottom: 0; font-size: 0; border: none; background: none; cursor: pointer; right: 0; }
#why-unicons-people-tab button.slick-next::before { content: "›"; display: inline-block; background-color: #195595; width: 35px; height: 35px; font-size: 35px; line-height: 25px; color: #fff; }
#why-unicons-people-tab ul.slick-dots { padding-bottom: 0; position: absolute; display: block; right: 60px; bottom: 0; }
#why-unicons-people-tab ul.slick-dots li button { border: none; background-color: transparent; font-size: 18px; width: 35px; height: 35px; border-radius: 50%; background: #fff; cursor: pointer; }
#why-unicons-people-tab button:hover::before { background-color: #e43430 !important; }
#why-unicons-people-tab ul.slick-dots li button:hover{ background-color: #e43430; color: #fff; }
#why-unicons-people-tab button.slick-prev { position: absolute; bottom: 0; font-size: 0; border: none; background: none; cursor: pointer; right: 0; z-index: 10; }
#why-unicons-people-tab button.slick-prev::before { content: "<"; display: inline-block; background-color: #195595; width: 35px; height: 35px; font-size: 35px; line-height: 25px; color: #fff; }
#why-unicons-people-tab .slick-slider{ padding-bottom: 60px; }
#why-unicons-people-tab .slick-slide > div > div:last-child .content{ padding-right: 0; }
.out-clients-wrap .slick-slide { margin: 20px; border: 1px solid #ccc; padding: 10px; }
.out-clients-wrap .slick-slide img { max-height: 94px; margin: 0 auto; }
.out-clients-wrap button.slick-prev { position: absolute; top: 35%; font-size: 0; border: none; background: none; cursor: pointer; left: -45px; }
.out-clients-wrap button.slick-prev::before { display: inline-block; background-color: #d0d0d0; width: 35px; height: 35px; font-size: 35px; line-height: 30px; opacity: 0.5; color: #fff; content: "‹"; }
.out-clients-wrap button.slick-next { position: absolute; top: 35%; font-size: 0; border: none; background: none; cursor: pointer; right: -45px; }
.out-clients-wrap button.slick-next::before { display: inline-block; background-color: #d0d0d0; width: 35px; height: 35px; font-size: 35px; line-height: 30px; opacity: 0.5; color: #fff; content: "›"; }
.out-clients-wrap button:hover::before { background: #e43430; }
.out-clients-wrap .slider-logo .item { cursor: pointer; position: relative; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; }
.out-clients-wrap .slider-logo .item:hover{ opacity: .6; }
.out-clients-wrap .detail .item{ display: none; }
.out-clients-wrap .detail { background: #144780; position: relative; }
.out-clients-wrap .detail .item h3 { text-align: center; color: #fff; margin-bottom: 20px; }
.out-clients-wrap .detail .item .project-detail { padding: 40px 0; }
.out-clients-wrap .detail .item .project-detail #column { float: left; width: 33%; }
.out-clients-wrap .detail .item .project-detail #column .content { width: 90%; margin: 0 auto; }
.out-clients-wrap .detail .item .project-detail #column .content img:hover{ opacity: 0.8; }
.out-clients-wrap .detail .item .project-detail #column .content p { color: #fff !important; }
.out-clients-wrap .client_logos_title::after { width: 100px; height: 2px; background: #1c6fa4; content: ''; position: absolute; left: 0; bottom: 0; }
.out-clients-wrap .detail .arrow { content: ""; position: absolute; top: -10px; border-style: solid; border-width: 0 10px 10px 10px; border-color: #e43430 transparent; display: block; width: 0; z-index: 0; }
#form-career-position { background: #f3f3f3; padding-bottom: 35px; }
#form-career-position h4 { text-transform: uppercase; color: #195595; font-size: 17px; font-weight: 700; }
#form-career-position .width-half { float: left; width: 40%; }
#form-career-position .width-half input { width: 100%; }
#form-career-position .width-half input[type="file"] { border: 1px solid #ccc; padding: 10px; color: #000; }
#form-career-position .textarea_wrap { position: absolute; right: 0; width: 58%; }
#form-career-position .gform_footer { position: absolute; bottom: 26px; right: 0; padding-bottom: 0; margin-bottom: 0; width: 58%; }
#form-career-position .gform_footer input[type="submit"] { position: absolute; left: 0; bottom: 0; border: none; background: #195595; color: #fff; border-radius: 0; padding: 6px 30px; font-size: 16px; font-weight: bold; border-bottom: 3px solid #09aeee; cursor: pointer; }
.career-position-wrap .wrap-item { position: relative; background: #f3f3f3; }
.career-position-wrap .wrap-item .column-3 img { cursor: pointer; display: inline-block; margin: 0 auto; margin-bottom: 15px; }
.career-position-wrap .wrap-item .et_pb_row { position: static; }
.career-position-wrap .wrap-item .column-3 { width: 33%; float: left; position: static; padding: 20px; }
.career-position-wrap .wrap-item .detail { display: none; position: absolute; width: 100%; left: 0; background-size: cover; z-index: 10; overflow: hidden; margin-top: 20px; }
.career-position-wrap .wrap-item .arrow { display: none; content: ""; position: absolute; margin-top: 10px; border-style: solid; border-width: 0 10px 10px 10px; border-color: #e43430 transparent; width: 0; z-index: 0; }
body:not(.home) #main-content.career-position-wrap .wrap-item .detail * { color: #fff !important; z-index: 10; position: relative; font-size: 15px; }
body:not(.home) #main-content.career-position-wrap .wrap-item .detail p { padding-bottom: 0; font-size: 15px; }
.career-position-wrap .wrap-item .detail .column-2 { width: 50%; float: left; }
.career-position-wrap .wrap-item .detail .first { padding-right: 50px; clear: both; }
.career-position-wrap .wrap-item .detail::after { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: -moz-linear-gradient(left, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); background: -webkit-linear-gradient(left, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); background: linear-gradient(to right, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#4f222222', GradientType=1); }
.career-position-wrap .wrap-item .position { font-size: 20px; text-transform: uppercase; float: left; font-weight: bold; }
.career-position-wrap .wrap-item .close { font-size: 17px; float: right; border: 1px solid; padding: 3px 25px 3px 15px; margin-bottom: 25px; cursor: pointer; }
.career-position-wrap .wrap-item .close:hover { background-color: #e43430; }
.career-position-wrap .wrap-item .top { margin-bottom: 20px; }
.career-position-wrap .wrap-item h6 { font-size: 18px !important; position: relative; margin-bottom: 20px; }
.career-position-wrap .wrap-item h6::after { height: 3px; width: 90px; position: absolute; content: ''; background-color: #fff; left: 0; bottom: 0; }
.career-position-wrap .wrap-item ul { list-style-type: disc; padding-left: 20px; }
.career-position-wrap .item-detail { margin-bottom: 20px; }
.career-position-wrap .item-detail img { margin-bottom: 20px; }
.project-wrap form span { margin-right: 20px; }
.project-wrap form select, .project-wrap form input[type="text"] { width: 120px; padding-left: 15px; }
.project-wrap { background: #f3f3f3 !important; }
.project-wrap .content-tab .item { width: 33.3333333333%; float: left; padding-left: 20px; padding-right: 20px; margin-bottom: 20px; cursor: pointer; }
.project-wrap .content-tab .item .arrow { content: ""; position: absolute; border-style: solid; border-width: 0 10px 10px 10px; border-color: #e43430 transparent; width: 0; z-index: 10; margin-top: 15px; left: 45%; display: none; }
.project-wrap .content-tab .content { position: relative; }
.project-wrap .content-tab .contents { margin-left: -20px; margin-right: -20px; }
.project-wrap .content-tab > .et_pb_row { padding-top: 0; }
.project-wrap .content-tab .item h4 { text-align: center; margin-top: 5px; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.project-wrap .content-tab .wrap { padding-bottom: 30px; overflow: hidden; }
.project-wrap .content-tab .wrap .item[id_clear="4"]{ clear: both; }
.project-wrap #tab ul { list-style-type: none; }
.project-wrap #tab ul li { float: left; font-size: 15px; color: #195595; font-weight: bold; margin-right: 25px; cursor: pointer; border-bottom: 2px solid; padding-bottom: 7px; border-bottom: 1px solid #ccc; }
.project-wrap #tab ul li.current, .project-wrap #tab ul li:hover { border-bottom: 2px solid #e43430; padding-bottom: 6px; }
.project-wrap #jquery-tab-pager-navi { position: absolute; bottom: 25px; left: 0; right: 0; width: 100%; max-width: 1080px; margin: 0 auto; text-align: right;}
.project-wrap #jquery-tab-pager-navi li { display: inline-block; font-size: 20px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; }
.project-wrap #jquery-tab-pager-navi li a:hover { background: #e43430 !important; color: #fff !important; }
.project-wrap .content-tab { position: relative; }
.project-wrap .et_pb_row, .project-wrap .content-tab .wrap, .project-wrap .content-tab .contents, .project-wrap .content-tab .item { position: static; }
.project-wrap .group-detail .et_pb_row{ position: relative; z-index: 10;}
.project-wrap .group-detail:after{ content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: -moz-linear-gradient(left, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); background: -webkit-linear-gradient(left, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); background: linear-gradient(to right, rgba(1, 80, 137, 0.8) 0%, rgba(1, 80, 137, 0.8) 9%, rgba(1, 80, 137, 0.8) 19%, rgba(1, 80, 137, 0.8) 43%, rgba(1, 80, 137, 0.8) 100%, rgba(1, 80, 137, 0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#4f222222', GradientType=1);}
.project-wrap .group-detail { position: absolute; left: 0; width: 100%; background: #144780; z-index: 10; color: #fff; display: none; min-height: 589px; margin-top: 25px; background-repeat: no-repeat; background-size: cover; background-position: center center;}
.project-wrap .group-detail .title-project { color: #fff; text-transform: uppercase; font-size: 35px; margin-bottom: 20px; float: left; }
.project-wrap .group-detail .close { float: right; font-size: 12px; border: 1px solid; padding: 3px 12px; cursor: pointer; font-weight: 700; line-height: 1.2; background-color: #195595; transition: all 0.3s}
.project-wrap .group-detail .close:hover { background-color: red; }
.project-wrap .group-detail .tab-detail { clear: both; position: relative;}
.project-wrap .group-detail .tab-detail ul:before { content: ""; border-bottom: 1px solid #7c8794; height: 1px; position: absolute; width: 100%; left: 0; bottom: 0px; z-index: 1; }
.project-wrap .group-detail .tab-detail ul li { cursor: pointer; float: left; font-size: 17px; padding-right: 60px; font-weight: bold; padding-bottom: 8px; position: relative; z-index: 10;}
.project-wrap .group-detail .tab-detail ul li.active { border-bottom: 3px solid #e43430; padding-bottom: 6px; }
.project-wrap .group-detail .tab-detail ul li:hover { color: #e43430; }
.project-wrap .group-detail .column-3 { width: 45%; float: left; margin-top: 15px; padding-right: 40px;}
.project-wrap .group-detail .column-9 { width: 55%; float: left; margin-top: 15px;}
.project-wrap .group-detail li#tab-dt-01 { overflow: hidden; }
.project-wrap .group-detail div#tab-dt-02, .project-wrap .group-detail div#tab-dt-03 { display: none; }
.project-wrap .group-detail div#tab-dt-01 p { line-height: normal !important; padding-bottom: 0; color: #fff !important; }
.project-wrap .group-detail .tab-detail-content { clear: both; }
.project-wrap .group-detail .group { overflow: hidden; clear: both; }
.project-wrap .group-detail .group .row-title { width: 35%; float: left; text-align: right; margin-right: 5%; font-size: 17px; }
.project-wrap .group-detail .group .value-info { width: 60%; float: left; font-size: 16px; font-weight: bold; }
.project-wrap .group-detail .content { margin-top: 10px; text-align: justify; }
.project-wrap #tab-dt-02 .item-image { width: 33.333333333%; padding-left: 15px; padding-right: 15px; float: left; margin-bottom: 25px; }
.project-wrap #tab-dt-02 .item-image img { max-height: 210px; overflow: hidden; opacity: 1; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; width: 100%; }
.project-wrap #tab-dt-02 .item-image img:hover { opacity: 0.5 }
.project-wrap #tab-dt-02 #image-project { margin-left: -15px; margin-right: -15px; padding-top: 20px; }
.project-wrap .group-detail .group.et_pb_animation_left.et-animated { opacity: 1 !important; -webkit-animation: fadeLeft 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1) !important; -moz-animation: fadeLeft 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1) !important; -o-animation: fadeLeft 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1) !important; animation: fadeLeft 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1) !important; }
#top-menu #menu-item-20080 ul.sub-menu { height: 180px !important; }
#top-menu li.et-reverse-direction-nav#menu-item-20080 li ul { right: auto !important; }
#top-menu #menu-item-20080 ul.sub-menu table { height: auto !important; }
#top-menu #menu-item-20080 #menu-item-20060 > ul.sub-menu { padding-top: 15px; }
#top-menu #menu-item-20080 #menu-item-20081 > ul.sub-menu { padding-top: 27px; }
#top-menu #menu-item-20080 #menu-item-20081 > ul.sub-menu a:after { display: none; }


.project-wrap .group-detail .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0;
	border: none;
	background: none;
}
.project-wrap .group-detail .slick-arrow:before {
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 30px;
	background-color: rgb(227, 225, 225);
	color: rgb(255, 255, 255);
	opacity: 0.5;
	font-size: 35px;
}
.project-wrap .group-detail .slick-arrow:hover:before {
	background-color: #e3302c; 
}
i.fa.fa-eye{
	background: url(/wp-content/uploads/2017/08/eye-16.png);
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}
i.fa.fa-eye:before{
	content: "";
}
.project-wrap .group-detail .slick-arrow.slick-next {
	right: -50px;
}
.project-wrap .group-detail .slick-arrow.slick-prev {
	left: -50px;
}
.project-wrap .group-detail .slick-arrow.slick-next:before {
	content: "›";
}

.project-wrap .group-detail .slick-arrow.slick-prev:before {
	content: "‹";
}
#wrap-form-contact .gfield.captcha-custom{
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 50%;
}
#wrap-form-contact .gfield.captcha-custom .gfield_captcha_container{
	position: relative;
}
#wrap-form-contact .gfield.captcha-custom .gfield_captcha_container img{
	vertical-align: bottom;
}
#wrap-form-contact .gfield.captcha-custom .gfield_captcha_input_container{
	position: absolute;
	bottom: 0;
	padding-left: 100px;
	width: 185px;
}
#wrap-form-contact .gfield.captcha-custom .gfield_captcha_input_container input{
	width: 100%;
}
.page-id-978 .et_pb_module.et_pb_tabs .et_pb_all_tabs .et_pb_section{
	background: none;
}
.page-id-978 .et_pb_module.et_pb_tabs .et_pb_all_tabs .et_pb_tab .et_pb_section img{
	width: 100%;
}
.info-inner {
	height: 250px;
	overflow: hidden;
}
#tabs_video_360{
    width: 100%;
    max-width: initial;
}
#tabs_video_360 .media_fullwidth .content_wraper .big_post_title{
	border-bottom: none;
	padding-bottom: 0;
}
#tabs_video_360 .media_fullwidth .content_wraper .big_post_title:after{
	content: none;
}
#tabs_video_360 .media_fullwidth .content_wraper .big_post_title h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
#tabs_video_360 .media_fullwidth .content_wraper .big_post_content p{
	padding-bottom: 0;
	color: #333;
}
#tabs_video_360 .media_fullwidth.image_360_info .et_pb_column.et_pb_column_1_3,
#tabs_video_360 #video .media_fullwidth .content_wraper .et_pb_column.et_pb_column_1_3{
	margin-top: 35px;
    background: rgba(204, 204, 204, 0.5);
    padding: 10px;
    height: 185px !important;
    float: right;
}
.home .video-section{
	padding: 0;
}
#tabs_video_360 .media_fullwidth .content_wraper{
	padding: 0;
}
#tabs_video_360 #video .et_pb_row.et_pb_row_2{
	padding: 30px 0;
}
#tabs_video_360 .media_fullwidth .content_wraper .fluid-width-video-wrapper {
    padding-top: 56.25% !important;
}
#tabs_video_360 .media_fullwidth .content_wraper .small_post_info h3{
	color: black;
}
#tabs_video_360 a.view_all_1{
	display: block !important;
}
.home #tabs_video_360 .et_pb_row{
	margin: auto;
}
.home .main_services .slick-slide{
	padding: 0 5px;
}
@media screen and (min-width: 992px){
	.project-wrap .contents .item img{
		width: 100%;
	}
	.image_wraper > .slick-list > .slick-track > .slick-slide { display: flex; }
}
@media screen and (max-width: 1200px){
	.project-wrap #jquery-tab-pager-navi { width: 80%; }
	.project-wrap .group-detail .column-3{ width: 100%;	}
	.project-wrap .group-detail .content{ padding-right: 20px; }
	.project-wrap .group-detail .column-9{ width: 100%; margin-top: 20px; }
}
@media screen and (max-width: 1024px){
	#wrap-form-contact form.form-contact-us input[type="submit"]{ padding: 18px 28px; }
	.page-id-211 .media_fullwidth .content_wraper{
		width: 90%;
	}
	#career-row .et_pb_code.et_pb_module.et_pb_code_18 h4{
		margin-top: 10px !important;
	}
	.page-id-8990 .career-position-wrap .wrap-item .column-3:nth-child(3n+4){
		clear: both;
	}
}
@media screen and (max-width: 991px){
	.project-wrap #tab ul li { margin-bottom: 15px; }
	#wrap-page #tab .et_pb_row { padding-bottom: 0; padding-top: 0; }
	.project-wrap .content-tab .item{ width: 50%; }
	#wrap-form-contact .gfield.captcha-custom .gfield_captcha_input_container {
		width: 100%;
	}
	#wrap-form-contact form.form-contact-us .gform_footer{
		position: inherit;
	}
}
@media screen and (max-width: 768px){
	span#slogan {
		display: none;
	}
	.project-detail-tab .project-tab.same-align-tab .et_pb_all_tabs{
		padding-top: 0;
	}
	.project-detail-tab .project-tab.same-align-tab .et_pb_all_tabs .et_pb_tab .et_pb_section{
		padding: 20px 0 0;
	}
	.et_pb_section .abilities .section .content, .abilities .section .slide-image{
		margin-bottom: 20px;
	}
	.page-id-8082 .et_pb_section.et_pb_section_1,
	.page-id-12619 .et_pb_section.et_pb_section_1,
	.page-id-12621 .et_pb_section.et_pb_section_1,
	.page-id-12623 .et_pb_section.et_pb_section_1{
		padding: 0;
	}
	.info-inner {
		height: 245px;
		overflow: hidden;
	}
}
@media screen and (max-width: 767px){
	#main-content p { font-size: 14px; line-height: 22px !important; }
	html, body { overflow-x: hidden; }
	.project-wrap .group-detail .tab-detail ul li{ width: 100%; margin-bottom: 15px; }
	.project-detail-tab .project-tab.same-align-tab ul.et_pb_tabs_controls li{
		display: inline-block;
	}
	.page-id-12619 .et_pb_section.et_pb_section_1.et_section_regular, 
	.page-id-12621 .et_pb_section.et_pb_section_1.et_section_regular, 
	.page-id-12623 .et_pb_section.et_pb_section_1.et_section_regular{
		padding: 0;
	}
	.page-id-978 .project-detail-tab .project-tab.same-align-tab .et_pb_all_tabs{
		padding-top: 20px;
	}
	.career-position-wrap .wrap-item .column-3{
		width: 50%;
	}
	#career-handbook .question_answer .item{
		margin-left: 0;
	}
	.abilities.contact.contact-page .section .content .col-2 .item{
		width: 100%;
	}
	.home .et_pb_section_8.et_pb_section{
		padding: 0;
	}
	.page-id-8990 .career-position-wrap .wrap-item .column-3:nth-child(2n+3){
		clear: both;
	}
	.page-id-8990 .career-position-wrap .wrap-item .column-3:nth-child(3n+4){
		clear: inherit;
	}
	#career-handbook .for_student .item .left { float: left; width: 25%; margin-right: 5px; }
	#career-handbook .for_student .item .right { float: none; width: 100%; }
	#career-handbook .for_student .item { padding-left: 0; }
	.project-wrap .group-detail .column-3, .project-wrap .group-detail .content { padding-right: 0;}
	.project-wrap .group-detail .slick-arrow.slick-next { right: -27px }
	.project-wrap .group-detail .slick-arrow.slick-prev{ left: -27px }
	.main_services button.slick-prev { left: 0;}
	.main_services .slick-list {width: 82%; margin: auto; margin-bottom: 15px;}
	.main_services button.slick-prev::before{opacity: 1; width: 25px;height: 25px; background-color: #195594;color: #fff;font-size: 22px;line-height: 24px;}
	.main_services button.slick-next{ right: 0; }
	.main_services button.slick-next::before{opacity: 1; width: 25px;height: 25px; background-color: #195594;color: #fff;font-size: 22px;line-height: 24px;}
	.client_logo_carousel button.slick-prev { left: 0;}
	.client_logo_carousel .slick-list {width: 82%; margin: auto; margin-bottom: 15px;}
	.client_logo_carousel button.slick-prev::before{opacity: 1; width: 25px;height: 25px; background-color: #195594;color: #fff;font-size: 22px;line-height: 24px;}
	.client_logo_carousel button.slick-next{ right: 0; }
	.client_logo_carousel button.slick-next::before{opacity: 1; width: 25px;height: 25px; background-color: #195594;color: #fff;font-size: 22px;line-height: 24px;}
	.et_pb_post_custom_nav_0{
		display: block;
	}
	.et_pb_post_custom_nav_0 .nav-previous,
	.et_pb_post_custom_nav_0 .nav-next,
	.et_pb_post_custom_nav_0 .nav-previous a,
	.et_pb_post_custom_nav_0 .nav-next a{
		display: block;
		width: 100%;
	}
	.et_pb_post_custom_nav_0 .nav-previous,
	.et_pb_post_custom_nav_0 .nav-next{
		padding: 10px 0;
	}
	.et_pb_post_custom_nav_0 .nav-next{
		background: rgba(179, 180, 184, 0.22);
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}
	.et_pb_post_custom_nav_0 .nav-previous a .nav-thumbnail, .et_pb_post_custom_nav_0 .nav-next a .nav-thumbnail{
		width: 40%;
		display: inline-block;
		padding-top: 4px;
	}
	.et_pb_post_custom_nav_0 .nav-previous a .nav-info, .et_pb_post_custom_nav_0 .nav-next a .nav-info{
		width: calc(60% - 10px);
		display: inline-block;
		padding-top: 0;
		vertical-align: top;
	}
	.et_pb_pagebuilder_layout.single.et_full_width_page #page-container .et_pb_row.et_pb_row_2{
		width: 100%;
	}
	.et_pb_module.et_pb_post_title.et_pb_post_tag_test1_0.et_pb_bg_layout_light,
	.et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.relative-post-title.et_pb_text_1{
		width: 100%;
		margin: auto;
		padding: 6px 15px;
	}
	.et_pb_row .et_pb_column .et_pb_module:last-child, 
	.et_pb_row .et_pb_column .et_pb_module.et-last-child, 
	.et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child, 
	.et_section_specialty .et_pb_row .et_pb_column .et_pb_module.et-last-child {
	    padding: 0 15px;
	}
}
@media screen and (max-width: 640px){
	html, body { overflow-x: hidden; }
	.project-wrap form select, .project-wrap form input[type="text"] { width: 100%; display: block; margin-bottom: 10px; }
	.project-wrap form span { display: block; margin-bottom: 10px; }
	.project-wrap .form-search > .et_pb_row { padding-bottom: 0; }
	.project-wrap .content-tab .item{ width: 100%; }
	.project-wrap .content-tab .item img{ margin-left: auto; margin-right: auto; display: block; }
	.flip-box-tuyen-dung .flip-box-back-inner{
		top: 0 !important;
		transform: inherit !important;
	}
}
@media screen and (max-width: 568px){
	#wrap-form-contact .gfield.captcha-custom, #wrap-form-contact form.form-contact-us ul li#field_1_6{
		position: inherit;
		width: 100%;
	}
	.career-position-wrap .wrap-item .detail .column-2{
		width: 100%;
	}
	.career-position-wrap .wrap-item .detail .first {
		padding-right: 0;
	}
	.info-inner {
		height: 160px;
		overflow: hidden;
	}
}
@media screen and (max-width: 414px){
	.custom-history-tab .et_pb_all_tabs .et-pb-active-slide tr td{
		padding: 6px 6px;
	}
	.custom_tab_project ul.et_pb_tabs_controls.clearfix, .custom_tab_project .et_pb_all_tabs .content-80{
		width: 100%;
	}
	.page-id-707 .timeline.custom_tab{
		margin-top: 0 !important;
	}
	.page-id-707 .timeline ul.et_pb_tabs_controls li{
		margin-right: 30px !important;
		width: calc(100%/11) !important;
		display: inline-block;
	}
	.page-id-707 .timeline.custom_tab{
		margin-top: 0 !important;
	}
	.page-id-707 .et_pb_tab.et_pb_tab_2 ul li{
		color: #000;
		font-size: 12px;
	}
	.career-position-wrap .wrap-item .column-3{
		width: 100%;
	}
	.page-id-7188 .abilities .section .title{
		font-size: 17px;
	}
}