/* Panel */
.wrap.rfbwp-mode-pdf-wizard .field-books .no-books-added,
.wrap.rfbwp-mode-pdf-wizard .field-books .books {
	display: none;
}
.wrap.rfbwp-mode-pdf-wizard .field-books .rfbwp-pdf-wizard-wrap {
	display: block;
}

.mpc-button.close {
	background: #d24d57;
}

.add-new-book-wrap {
	min-height: 50px;
}
.add-new-book-wrap .cancel-convert-book {
	display: none;
}
.add-new-book-wrap .convert-book,
.add-new-book-wrap .add-book {
	display: inline-block;
}
.wrap.rfbwp-mode-pdf-wizard .add-new-book-wrap .cancel-convert-book {
	display: inline-block;
}
.wrap.rfbwp-mode-pdf-wizard .add-new-book-wrap .convert-book,
.wrap.rfbwp-mode-pdf-wizard .add-new-book-wrap .add-book {
	display: none;
}

.rfbwp-step label {
	position: relative;
	display: block;
	color: #999999;
}
.rfbwp-step label span {
	position: absolute;
	bottom: 3px;
	right: 1px;
	line-height: 1.5;
	padding: 9px 13px;
	background: #f7f7f7;
	color: #999;
	box-sizing: border-box;
	font-size: 12px;
}
.rfbwp-step label input[type=text] {
	margin-top: 5px;
}

.rfbwp-validate-option.rfbwp-blink {
	background: #F3E7BF;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.rfbwp-col-left {
	position: relative;
	float: left;
	width: 50%;
	padding: 0 10px 0 0;
	box-sizing: border-box;
}
.rfbwp-col-right {
	position: relative;
	float: right;
	width: 50%;
	padding: 0 0 0 10px;
	box-sizing: border-box;
}
.rfbwp-step .rfbwp-zoom {
	position: absolute;
	top: 21px;
	right: 0;
}

/* PDF Wizard */
.rfbwp-pdf-wizard-wrap {
	position: relative;
	display: none;
	overflow: hidden;
}
.rfbwp-pdf-wizard-wrap a {
	border: none;
	outline: none;
	box-shadow: none;
}
.rfbwp-pdf-wizard-close {
	position: absolute;
	top: 0;
	right: 0;
	font-family: Arial, sans-serif;
	z-index: 10;
	text-decoration: none;
	font-size: 24px;
	padding: 10px;
}
.rfbwp-step {
	background: #F9F9F9;
	/*margin: 20px 0;*/
	/*max-width: 400px;*/
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
	overflow: hidden;
	height: 0;
	opacity: 0;
	filter: alpha(opacity=0);

	/*-webkit-transform: scale(0);*/
	/*transform: scale(0);*/

	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	/*-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
	/*transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
}
.rfbwp-step h5 {
	font-size: 14px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}
.rfbwp-step p {
	margin: 0;
}
.rfbwp-step.rfbwp-active {
	padding: 20px;
	height: auto;

	opacity: 1;
	filter: alpha(opacity=100);

	/*-webkit-transform: scale(1);*/
	/*transform: scale(1);*/
}
.rfbwp-step.rfbwp-disable {
	max-height: 0;
	padding: 0 20px;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.rfbwp-step h3 {
	margin: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}
.rfbwp-step input[type=text] {
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	padding: 10px;
	margin: 0;
	line-height: 1.5;
	display: block;
	width: 100%;
	height: auto;
	opacity: 1;
	filter: alpha(opacity=100);
}
.rfbwp-step input[type=text]:disabled {
	opacity: .25;
	filter: alpha(opacity=25);
}
.rfbwp-step input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.rfbwp-step a {
	color: #333333;
	outline: none;
	box-shadow: none;
}
.rfbwp-step .rfbwp-link {
	position: relative;
	display: block;
	padding: 15px;
	background: #B6E2B0;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	box-shadow: none;

	-webkit-transition: all .25s;
	transition: all .25s;
}
.rfbwp-step .rfbwp-link:hover,
.rfbwp-step .rfbwp-link.rfbwp-active {
	background: #87D37C;
}

.rfbwp-progress {
	position: relative;
	margin-top: 20px;
	padding: 5px 10px;
	background: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #555555;
}
.rfbwp-progress span {
	position: relative;
	z-index: 2;
}
.rfbwp-progress .rfbwp-line {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 4px;
	background: #B6E2B0;
	z-index: 1;

	-webkit-transition: all .1s;
	transition: all .1s;
}
.rfbwp-progress .rfbwp-time {
	display: none;
	color: #AAAAAA;
	float: right;
	font-size: 10px;
}

/* Error */
.rfbwp-error-box {
	display: none;
}
.rfbwp-error {
	display: none;
	background: #F9F9F9;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 4px solid #E74C3C;
}
.rfbwp-error h3 {
	margin: 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEEEEE;
	color: #E74C3C;
}
.rfbwp-error p {
	margin: 10px 0 0 0;
}
.rfbwp-error-box[data-error='server'] .rfbwp-error-server {
	display: block;
}
.rfbwp-error-box[data-error='size'] .rfbwp-error-size {
	display: block;
}
.rfbwp-error-box[data-error='upload'] .rfbwp-error-upload {
	display: block;
}
.rfbwp-error-box[data-error='pages'] .rfbwp-error-pages {
	display: block;
}
.rfbwp-error-box[data-error='info'] .rfbwp-error-info {
	display: block;
}
.rfbwp-error-box[data-error='convertion'] .rfbwp-error-convertion {
	display: block;
}
.rfbwp-error-box[data-error='images'] .rfbwp-error-images {
	display: block;
}
.rfbwp-error-box[data-error='import'] .rfbwp-error-import {
	display: block;
}
.rfbwp-error-box[data-error='generate'] .rfbwp-error-generate {
	display: block;
}