/***************************\

FONT

\***************************/

@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Medium.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Light.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Thin.ttf);
	font-weight: 300;
}


/***************************\

GLOBAL STYLE

\***************************/

* {
	font-family: "Roboto", "Open Sans", Arial, sans-serif;
}
.et-search-form input {
	width: calc(100% - 30px);
}

.light-gray-bg {
	background-color: #f3f3f3 !important;
}

.blue-bg {
	background-color: #195595 !important;
}

.blue-bg.overlay:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(25, 85, 149, 0.8) !important;
}

.text-white {
	color: #fff;
}

.text-blue {
	color: #195595;
}

.font-18 {
	font-size: 18px;
}

.bold {
	font-weight: 700;
}

.white-button a,
.blue-button a {
	display: block;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.white-button a {
	border: 1px solid white;
	color: white;
}

.blue-button a,
.media_tab .button {
	border: 1px solid #093e78;
	color: #093e78;
}
.media_tab .button {
	padding: 5px 25px;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
}

.custom_parallax {
	background-attachment: fixed;
	background-size: cover;
}

.custom_row_fullwidth {
	width: 100%;
	max-width: inherit;
}
sup {
	font-size: 70%;
}

/***************************\

HEADER

\***************************/

#main-header>.container {
	width: 100%;
	max-width: inherit;
}

.logo_container,
.language-n-search {
	max-width: 1080px;
	width: 80% !important;
	margin: auto;
}

#logo {
	max-height: 80% !important;
}

#slogan-separate,
#slogan {
	display: inline-block;
}

#slogan-separate {
	width: 1px;
	height: 34%;
	margin: 0 10px;
	transform: translateY(calc(34%));
	-webkit-transform: translateY(calc(34%));
}

#slogan {
	font-weight: bold;
	color: #e4302c;
	transition: all 0.4s;
}

.et_header_style_centered #main-header .container {
	text-align: inherit;
}

#et-top-navigation {
	font-weight: normal;
}

#top-menu-nav {
	max-width: 1080px;
	width: 80%;
	margin: auto;
	display: block !important;
}

#top-menu a {
	color: #000;
}

#top-menu>li>a {
	color: #fff;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px !important;
	font-weight: 300;
	color: #fff !important;
}

#top-menu>li>a:after {
	top: 15px !important;
}

#top-menu>li.current-menu-item:not(.special-menu-item) {
	background: #10457e;
}

#top-menu>li.current-menu-item>a {
	font-weight: bold !important;
}

.language-flags img {
	height: 15px;
	box-shadow: 0 0 1px;
}

.special-menu-item {
	float: right;
	margin-top: 8px;
}

#et_top_search {
	margin-top: 15px;
}

#menu-search-form {
	position: relative;
}

#menu-search-form .fa-search {
	position: absolute;
	top: 6px;
	left: 10px;
}

#menu-search {
	border: none;
	box-shadow: 0 0 1px;
	border-radius: 2px;
	margin: 0 0 5px 5px;
	padding: 0 5px 3px 25px;
}

.sub-menu {
	border-top: 0 !important;
	background: #fbfaf8 !important;
	width: auto !important;
}

#top-menu>li {
	padding: 0;
}

#top-menu>li>a {
	font-size: 15px;
	padding: 15px;
	font-weight: 600;
}

#top-menu>li.current-menu-item:not(.special-menu-item):after,
#top-menu>li:not(.special-menu-item):hover:after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	height: 2px;
	background: #e4302c;
	display: block;
}

#top-menu li li {
	padding: 0;
}

#top-menu>li li.current-menu-item:not(.text),
#top-menu>li li:not(.text):hover {
	background: #e4302c;
}

#top-menu>li li.current-menu-item:not(.text)>a,
#top-menu .sub-menu li:not(.text):hover>a {
	color: #fff;
}

#top-menu li li .sub-menu {
	left: 100%;
}

#top-menu li li.menu-item.text a {
	width: inherit;
}

#top-menu .menu-item a {
	transition: all 0s;
}

#top-menu .sub-menu li a {
	min-width: 240px;
}

#top-menu .menu-item.text a {
	padding-top: 0;
	padding-bottom: 0;
}

#top-menu .menu-item.text a:hover {
	background: inherit;
}

#top-menu .menu-item a:hover {
	opacity: 1;
}

#top-menu .sub-menu li.menu-item-has-children>a:after {
	content: "5";
}

#top-menu li li.menu-item.text table {
	width: 563px;
}

#top-menu li li.menu-item.text table td:nth-child(2) {
	width: 40%;
}

.mobile_menu_bar:before {
	color: #e4302c;
}

#mobile_menu {
	border-top: 3px solid #e4302c;
}

.et_mobile_menu .menu-item-has-children>a {
	font-weight: inherit;
}

#top-menu .pll-parent-menu-item {
	float: right;
	margin-top: 8px;
}

#top-menu .pll-parent-menu-item a {
	padding: 8px 15px 4px 5px !important;
}

#top-menu .pll-parent-menu-item a img {
	vertical-align: top;
}

#top-menu .pll-parent-menu-item a:after {
	top: 6px !important;
	color: #000 !important;
}

#top-menu .pll-parent-menu-item .lang-item a {
	width: initial;
	min-width: initial !important;
}

#top-menu .pll-parent-menu-item .sub-menu {
	padding: 0;
	height: initial !important;
}

.special-menu-item.search-icon {
	margin-left: 10px !important;
	padding: 5px 5px 4px !important;
	color: white;
}

#et_top_search {
	margin: 0;
}

#et_search_icon:before {
	position: relative;
	top: 0 !important;
	left: 0 !important;
	cursor: pointer;
}

.et_close_search_field:after {
	color: #fff;
}

.et-search-form input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #3a3a3a;
}

.et-search-form input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #3a3a3a;
	opacity: 1;
}

.et-search-form input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #3a3a3a;
	opacity: 1;
}

.et-search-form input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
}

.et-search-form input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #fff;
}

#top-menu .sub-menu li.current-menu-ancestor > a {
	color: white;
}
.menu-item-object-menu_description td:last-child {
    padding-left: 20px;
}
.page-template-project-template .content-tab .content p {
	margin-bottom: 10px;
}
/* Default search field */

#main-header .et-search-field {
	height: 44px;
	margin-bottom: 0;
	color: #3a3a3a;
}

span.et_close_search_field {
	margin-bottom: 8px;
}
#top-menu > li#menu-item-5219:nth-last-child(3)::before {
	border: none;
}
.nav li li a, .et_mobile_menu li a {
	font-size: 15px;
}
#top-menu .sub-menu li.menu-item-has-children.no-arrow>a:after {
	content: "";
}
/***************************\

FOOTER

\***************************/

#footer-widgets .et_pb_column {
	margin-bottom: 0;
}

.footer-widget {
	margin-bottom: 30px !important;
}

#footer-logo {
	max-width: 190px;
	margin-bottom: 10px;
}

.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #footer-information,
#footer-information {
	width: 100%;
	padding: 0;
}

.info-title {
	display: block;
	margin: 15px 0;
}

#stock-info {
	border-bottom: 3px solid;
	margin-bottom: 10px;
}

#stock-info td {
	padding-bottom: 10px;
}

#stock-info td:nth-child(odd) {
	font-size: 24px;
	font-weight: bold;
}

#stock-info td:nth-child(even) p {
	line-height: 1.2;
	color: #a3dbff;
	font-weight: bold;
	font-size: 10px;
	margin: 0 10px;
}

.social-icon {
	margin-right: 2.5px;
	margin-left: 2.5px;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #fff !important;
	position: relative;
	box-shadow: 0 0 1px #fff;
}

.social-icon .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.social-icon.facebook {
	background: #325094;
}

.social-icon.linkedin {
	background: #006db4;
}

.social-icon.youtube {
	background: #cf2a33;
}

.social-icon.google-plus {
	background: #d23734;
}

img.footer-small-logo:nth-child(1) {
	max-width: 40%;
}

img.footer-small-logo:nth-child(n+2) {
	max-width: 20%;
	margin-left: 5px;
}

#footer-bottom {
	padding: 0;
}


/***************************\

HERO FULLWIDTH SLIDER

\***************************/

#hero-fullwidth-slider .et_pb_slide {
	padding: 0;
}

#hero-fullwidth-slider .et_pb_container {
	width: 100%;
	max-width: inherit;
}

#hero-fullwidth-slider .et_pb_slide_description {
	padding: 20px;
	text-align: left;
	background: rgba(23, 87, 128, 0.9);
	margin-bottom: 20px;
	margin-left: 167px;
}

img.image_x {
	position: absolute;
	left: 93%;
	bottom: 83%;
	cursor: pointer;
}

#hero-fullwidth-slider .et_pb_slide_description .et_pb_slide_title {
	font-weight: 600!important;
	padding-right: 15px;
}

#hero-fullwidth-slider .et_pb_slide_content {
	font-size: 15px;
}

#hero-fullwidth-slider .et_pb_more_button.et_pb_button {
	border: none;
	background-color: #e3302c;
	font-size: 15px;
	/*margin: 15px 0 20px !important;*/
	padding: 5px 20px;
	font-weight: bold;
	cursor: pointer;
}

#hero-fullwidth-slider .et_pb_more_button.et_pb_button:hover {
	background-color: #195595;
}

#hero-fullwidth-slider h2 {
	font-size: 21px;
}

#hero-fullwidth-slider .et_pb_more_button.et_pb_button:after {
	display: none;
}

#hero-fullwidth-slider .et-pb-controllers {
	width: inherit;
	left: inherit;
	right: 10%;
}


/***************************\

Page Hero Overlay

\***************************/

.page-hero-overlay {
	position: relative;
	padding-top: 50px !important;
	padding-bottom: 250px !important;
	margin-bottom: -150px;
}

.overlay:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
}

.overlay-white:before {
	background: rgba(255, 255, 255, 0.7);
}

.page-hero-overlay .title {
	width: 80%;
	max-width: 1080px;
	margin: auto;
	font-size: 50px;
	color: #195595;
}


/***************************\

CUSTOM TAB

\***************************/

.custom_tab .et_pb_tabs_controls,
.custom_tab .et_pb_tab_active,
.custom_tab .et_pb_all_tabs {
	background: inherit !important;
}

.custom_tab .et_pb_tabs_controls:after {
	display: none;
}

.custom_tab .et_pb_tabs_controls li{
	display: block;
}
.custom_tab .et_pb_tabs_controls li,
.custom_tab {
	border: 0 !important;
}

.custom_tab .et_pb_tabs_controls li a {
	font-weight: bold;
	font-size: 15px;
	color: #195595 !important;
	display: inline-block;
	padding-left: 0;
	height: 100%;
    padding-right: 0;
    margin-right: 30px;
	position: relative;
}

.custom_tab .et_pb_tabs_controls li a:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #e4302c;
	opacity: 0;
	transition: all 1s;
}

.custom_tab .et_pb_tabs_controls li.et_pb_tab_active a:after {
	opacity: 1;
}

.custom_tab .et_pb_tab {
	padding: 50px 0;
}

.custom_tab .et_pb_tab .et_pb_row {
	padding: 0;
	margin: 0;
	max-width: inherit;
	width: 100%;
}

.custom_tab.has_fullwidth_content .et_pb_tabs_controls {
	width: 80%;
	max-width: 1080px;
	margin: auto;
}

.custom_tab.tab_content_no_padding .et_pb_tab {
	padding: 0;
}
.et_pb_tab > .et_pb_section {
	padding-top: 0;
}


/***************************\

Section Tittle

\***************************/

.section_title {
	font-weight: 700;
	font-size: 24px;
	color: #195594;
	position: relative;
	padding-bottom: 20px;
	line-height: 1.2;
}

.section_title:after {
	position: absolute;
	width: 75px;
	height: 3px;
	background: #1c6fa4;
	bottom: 8px;
	content: "";
	left: 0;
	z-index: 1;
}

.section_title.white {
	color: #fff;
}

.section_title.white:after {
	background: #fff;
}


/***************************\

post_title_carousel

\***************************/

.post_title_carousel_wraper:before {
	content: "Tin mới nhất";
	position: absolute;
	left: 0;
	width: 115px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #e3302c;
	margin-top: -10px;
	padding: 10px 0px; 
	margin-left: -150px;
	padding-left: 150px;
}
.post_title_carousel_wraper.english:before {
	content: "Latest news";
}
.post_title_carousel_wraper.chinese:before {
	content: "最新消息";
}
.post_title_carousel_wraper.japanese:before {
	content: "最新ニュース";
}
@media (min-width: 1080px) {
	.post_title_carousel_wraper:before {
		margin-left: calc(540px - 50vw);
		padding-left: calc(50vw - 540px);
	}
}

.post_title_carousel_container {
	padding-left: 122px;
}

.post_title_carousel.marquee {
	overflow: hidden;
}

.post_title_carousel.marquee .item {
	display: inline;
	padding: 0 10px;
}

.post_title_carousel .title_symbol {
	color: #195595;
	font-family: monospace;
}

.post_title_carousel a {
	color: #000;
	transition: all 0.2s;
}

.post_title_carousel a:hover {
	color: #195595;
}


/***************************\

MAIN SERVICES

\***************************/

.main_services .et_pb_main_blurb_image a {
	display: block;
	position: relative;
	margin: 0 auto 30px;
	line-height: 0;
    border-radius: 3px;
}
.main_services .et_pb_main_blurb_image a:after {
	content: "";
	z-index: 2;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}
.main_services .et_pb_main_blurb_image a:hover:after,
.main_services .active .et_pb_main_blurb_image a:after {
	background-color: transparent;
	border: 7px solid #195595;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
}
.main_services .et_pb_blurb_container {
	position: absolute;
    width: 90%;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	pointer-events: none;
}
.main_services .et_pb_blurb_content h4 a {
	color: white;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.3;
}
.main_services .et_pb_blurb_content:hover h4 a {
	text-shadow: 0px 0px 15px black;
}


/***************************\

client_logo_carousel

\***************************/

.client_logo_carousel {
	margin-left: -15px;
	margin-right: -15px;
}

.client_logo_carousel .slick-slide {
	padding: 15px;
}
.client_logo_carousel .slick-slide:hover img{
	opacity: .8;
}
.client_logo_carousel button.slick-prev,
.client_logo_carousel button.slick-next {
	position: absolute;
	top: 30%;
	font-size: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.client_logo_carousel button.slick-prev {
	left: -50px;
}

.client_logo_carousel button.slick-next {
	right: -50px;
}

.client_logo_carousel button.slick-prev::before,
.client_logo_carousel button.slick-next::before {
	display: inline-block;
	background-color: #d0d0d0;
	width: 35px;
	height: 35px;
	font-size: 35px;
	line-height: 25px;
	opacity: 0.5;
	color: #fff;
}

.client_logo_carousel button.slick-prev::before {
	content: '‹';
}

.client_logo_carousel button.slick-next::before {
	content: '›';
}

.client_logo_carousel button:hover::before {
	background-color: #e3302c;
}
#featured-project-section .view_all {
	background: #195595;
}
#featured-project-section .view_all:hover {
	background: #e3302c;
	border: none;
}
/***************************\

featured_projects

\***************************/

.featured_projects * {
	transition: background 0.3s;
}

.featured_projects img {
	width: 100%;
	border: 5px solid #1868a4;
}

.featured_projects p {
	text-align: center;
	color: #fff;
	font-size: 17px;
	padding: 5px 0 10px;
	font-weight: 700;
}

.featured_projects .slick-slide:hover {
	box-shadow: 0 0 1px #fff;
	background: rgba(0, 0, 0, 0.2);
}

.featured_projects .slick-slide:hover img {
	background-color: #fff;
	opacity: 0.7;
}

.featured_projects .image-wrap {
	position: relative;
}

.featured_projects .image-wrap:before {
	width: 2px;
	height: 50px;
}

.featured_projects .image-wrap:after {
	height: 2px;
	width: 50px;
}

.featured_projects>div:hover .image-wrap:before,
.featured_projects>div:hover .image-wrap:after {
	opacity: 1;
}

.featured_projects .slick-slide {
	margin: 1px 15px;
	transition: all 0.3s;
}

.featured_projects button.slick-prev,
.featured_projects button.slick-next {
	position: absolute;
	top: 30%;
	font-size: 0;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

.featured_projects button.slick-prev {
	left: -50px;
}

.featured_projects button.slick-next {
	right: -50px;
}

.featured_projects button.slick-prev::before,
.featured_projects button.slick-next::before {
	display: inline-block;
	background-color: #d0d0d0;
	width: 35px;
	height: 35px;
	font-size: 35px;
	line-height: 30px;
	opacity: 0.5;
	color: #fff;
}

.featured_projects button.slick-prev::before {
	content: '‹';
}

.featured_projects button.slick-next::before {
	content: '›';
}

.featured_projects button:hover::before {
	background-color: #e3302c;
}

.image-wrap {
	position: relative;
}
.home_news .small-items .image-wrap {
	max-height: 125px;
    overflow: hidden;
}
.image-wrap img {
	vertical-align: middle;
}

.image-wrap:before,
.image-wrap:after {
	display: block;
	/*content: "";*/
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 2;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0.8);
}

.image-wrap:before {
	width: 2px;
	height: 50px;
}

.image-wrap:after {
	height: 2px;
	width: 50px;
}

a:hover .image-wrap,
.image-wrap:hover {
	background: #fff;
}

a:hover .image-wrap img,
.image-wrap:hover img {
	opacity: 0.8;
}

a:hover .image-wrap:before,
a:hover .image-wrap:after {
	opacity: 1;
}


/***************************\

home_news

\***************************/
.home_news{
	padding-top: 26px;
}
.home_news .big-item {
	background: #fff;
}

.home_news .big-item .info .post-title a {
	font-weight: bold;
	color: #195595;
}

.home_news .big-item .info .date {
	font-weight: bold;
	color: #36c9f4;
}

.home_news .big-item .info .post-link a {
	color: black;
	font-weight: bold;
	margin-top: -4%;
	float: right;
}

.home_news .small-items {
	margin-top: 5.5%;
	display: flex;
	flex-wrap: wrap;
}
.home_news .small-items>div:nth-child(4n) {
    margin-right: 0;
}
.home_news .small-items>div {
	background: #fff;
	margin-bottom: 5.5%;
}

.home_news .small-items img {
	width: 100%;
}

.small-items h2 {
	padding: 10px 20px 20px 20px;
	font-size: 15px;
	font-weight: 700;
	color: #195595;
	text-transform: uppercase;
}
#home-news-1 .small-items h2,
#home-news-2 .small-items h2 {
	line-height: 1.2;
    height: 64px;
    overflow: hidden;
	margin-bottom: 20px;
	
}
.small-items > .et_pb_column .content-wrap {
	position: relative
}
/*
.small-items > .et_pb_column .content-wrap:after {
	content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    padding: 10px 20px 20px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #195595;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.5s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    background-color: white;
}
.small-items > .et_pb_column:hover .content-wrap:after {
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
*/

.home #home-news-3 .home_news .small-items {
    margin-top: 0;
}
#why-unicons-people-tab .slick-slide > div {
	display: flex;
}
span.one-word {
	white-space: nowrap;
}
#gform_submit_button_3 {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143;
    background: transparent;
    font-weight: bold;
	border: 1px solid #093e78;
	color: #093e78;
	position: relative;
	transition: all 0.3s;
}
.media_publications .item_info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/***************************\

Careers

\***************************/

.career_section .white-button {
	width: 100%;
}

.homepage_careers {
	margin-left: -20px;
	margin-right: -20px;
}

.homepage_careers .job-item {
	background: #fff;
	margin: 0 20px;
}
#main-content homepage_careers .job-item .info p {
	font-size: 15px;
}
.homepage_careers .job-item .info {
	padding: 25px;
	margin-top: 0;
}

.homepage_careers .job-item .info p:nth-child(1), .homepage_careers .job-item .info p a{
	font-weight: bold;
	color: #09aeee;
}

.homepage_careers .job-item .position {
	font-weight: 700;
	color: #195595;
	font-size: 21px;
}

.homepage_careers .job-item .link {
	font-weight: bold;
}

.homepage_careers .slick-dots {
	padding: 0;
}

.homepage_careers .slick-dots button {
	display: none;
}

.homepage_careers .slick-dots li {
	display: inline-block;
	position: relative;
	margin: 0 13px 10px 13px;
}

.homepage_careers .slick-dots li:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	left: 0;
	cursor: pointer;
	transition: all 0.3s;
}

.homepage_careers .slick-dots li.slick-active:before {
	background: rgba(255, 255, 255, 1);
}

.homepage_careers .slick-arrow {
	position: absolute;
	right: 20px;
	top: calc(100% + 7px);
	height: 20px;
	padding: 3px 5px;
	font-size: 30px;
	line-height: 0.3;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.homepage_careers .slick-arrow.slick-prev {
	right: 40px;
	background: #000;
}

.homepage_careers .slick-arrow.slick-next {
	background: #e3302c;
}
#rfbwp_fullscreen {
	z-index: 9999999;
}
body .mfp-bg, body .mfp-wrap {
	z-index: 10000000;
}
.flipbook-container {
	overflow-x: hidden;
}



/***************************\

MEDIA TAB CONTENT

\***************************/

.media_tab .item-title {
	border-bottom: 1px solid #c4cfda;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.media_tab .item-title h2 {
	color: #195595;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.media_tab .featured_image img {
	width: 100%;
	border: 1px solid #000;
}

.media_tab .button-group {
	overflow: visible;
}

.media_tab .media_item {
	background: #fff;
	padding: 15px;
	min-height: 340px;
}
.media_tab .media_item .et_pb_equal_columns,
.media_tab .menu-item .item-info {
	overflow: visible;
}


#gform_submit_button_3:hover,
.media_tab .button:hover {
	box-shadow: 2px 2px 2px grey;
    top: -1px;
    left: -1px;
}

.media_company_logo .item-title {
	margin-top: 15px;
}

.media_company_logo .content {
	min-height: 240px;
}
.media_company_logo > .media_item {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media_internal_magazine {
	margin-left: -30px;
	margin-right: -30px;
	text-align: center;
}

.media_internal_magazine .media_item {
	margin: 0 15px;
	padding: 15px;
	background: #fff;
}

.media_internal_magazine .item_info {
	text-align: left;
	margin-top: 15px;
}

.media_internal_magazine .item_info h2 {
	font-size: 17px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.media_internal_magazine .button-group {
	position: inherit !important;
	text-align: center;
}

.media_internal_magazine .slick-dots,
.media_internal_magazine .slick-next,
.media_internal_magazine .slick-prev {
	display: inline-block;
}

.media_internal_magazine .slick-dots {
	text-align: center;
	padding: 0;
}

.media_internal_magazine .slick-dots li {
	display: inline-block;
}

.media_internal_magazine .slick-dots button,
.media_internal_magazine .slick-next.slick-arrow,
.media_internal_magazine .slick-prev.slick-arrow {
	padding: 5px 10px;
	margin: 0 5px;
	background: none;
	border: 0;
	font-size: 18px;
	cursor: pointer;
	margin-top: 15px;
}

.media_internal_magazine .slick-next.slick-arrow,
.media_internal_magazine .slick-prev.slick-arrow {
	font-weight: 700;
	background: #195595;
	color: #fff;
}

.media_internal_magazine .slick-dots .slick-active button {
	font-weight: 700;
	color: #195595;
}

.media_fullwidth.video {
	background: #000;
}

.media_fullwidth .video_wraper,
.media_fullwidth .image_wraper,
.media_fullwidth .content_wraper {
	width: 80%;
	max-width: 1080px;
	margin: auto;
}

.media_fullwidth .slick-dots {
	padding: 0;
}

.media_fullwidth .slick-dots,
.media_fullwidth .slick-dots li,
.media_fullwidth .slick-next,
.media_fullwidth .slick-prev {
	display: inline-block;
}

.media_fullwidth.image {
	background: url(http://unicons.efe.com.vn/wp-content/uploads/2017/03/media-bg-overlay.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.media_fullwidth.image .image-view img {
	border: 3px solid #fff;
	width: calc(100% - 10px);
	box-shadow: 0 0 10px #000;
	margin: 5px;
	border-radius: 2px;
}

.image-view.slick-initialized.slick-slider img {
    width: auto;
    text-align: center;
    margin: auto;
}

.media_fullwidth.image .image-nav {
	margin: auto;
	width: 90px;
    display: inline-block;
}

.image-view.slick-initialized.slick-slider {
    width: calc(100% - 100px);
    display: inline-block;
}

.media_fullwidth.image .image-nav .slick-slide {
	margin: 5px;
	border: 3px solid #fff;
	box-shadow: 0 0 5px #000;
	opacity: 0.5;
	cursor: pointer;
}

.media_fullwidth.image .image-nav .slick-slide.slick-current {
	opacity: 1;
}

.media_fullwidth.image .slick-prev,
.media_fullwidth.image .slick-next {
	background: none;
	border: 0;
	font-size: 40px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.media_fullwidth.image .slick-next {
	bottom: -50px;
}

.media_fullwidth.image .slick-prev {
	top: -50px;
}

.media_fullwidth .content_wraper {
	padding: 30px 0;
}

.media_fullwidth .content_wraper .big_post_title {
	border-bottom: 1px solid #c4cfda;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.media_fullwidth .content_wraper .big_post_title:after {
	position: absolute;
	width: 100px;
	height: 3px;
	content: "";
	left: 0;
	bottom: -2px;
	background: #195595;
	display: block;
}

.media_fullwidth .content_wraper .big_post_title h1 {
	color: #195595;
}

.media_fullwidth .content_wraper .big_post_excerpt {
	font-size: 15px;
	text-align: justify;
}

.media_fullwidth .content_wraper .small_post_item {
	margin-bottom: 15px;
}

.media_fullwidth .content_wraper .small_post_image {
	width: 39%;
	margin-right: 3%;
	float: left;
}

div#my_customer {
	/* padding-top:25px; */
	background-color: #f3f3f3;
}

.view_all_1 {
	display: block;
	float: right;
	border: 1px solid;
	padding: 5px 10px;
	color: #195594;
	font-size: 12px;
	cursor: pointer;
	font-weight: 700;
	line-height: 1.2;
}
.home-news .view_all_1 {
	color: white;
	background-color: #195595;
}

.view_all {
	display: block;
	float: right;
	border: 1px solid;
	padding: 5px 10px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.media_fullwidth .content_wraper .small_post_info {
	width: calc(58% - 5px);
	display: inline-block;
	/*text-align: justify;*/
}

.media_fullwidth .content_wraper .small_post_info h3 {
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
#main-content .media_fullwidth .content_wraper .small_post_info p {
	color: white!important;
}
.media_fullwidth.image_360_info .content_wraper .small_post_info h3,
#main-content .media_fullwidth.image_360_info .content_wraper .small_post_info p{
	color: black!important;
}
.image_wraper button .fa {
    color: white;
}
.media_fullwidth .content_wraper .small_post_info p {
	line-height: 1.2 !important;
}
.media_fullwidth.image_360 .image_360_wraper img {
	cursor: pointer;
}

.media_fullwidth.image_360, .image-360-container {
	position: relative;
}
.media_fullwidth.image_360.loading:after, .image-360-container.loading:after {
    background-image: url(/wp-content/uploads/2017/08/Flickr.gif);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-size: contain;
    transform: translate(-50%, -50%);
}
.project-wrap .item > .content img {
    transition: all 0.3s ease-in-out;
}
.project-wrap .item > .content:hover img {
	transform: scale(1.1);
}
.type-student .et_post_meta_wrapper {
	display: none;
}
div#wpcp-error-message {
    display: none;
}
/***************************\

PROJECT PAGE NAVIGATION

\***************************/

.project_pagination {
	margin: auto;
	max-width: 1080px;
}

.project_pagination .button-container {
	display: table;
	float: right;
	clear: both;
	position: relative;
	margin-right: 30px;
}

.project_pagination .arrow-button,
.project_pagination .pages {
	display: inline-block;
	padding: 0 !important;
	margin: 0;
}

.project_pagination .pages li {
	display: inline-block;
	background: #fff;
	border: 0;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 0 7.5px;
	transition: all 0.4s;
}

.project_pagination .pages button {
	background: none;
	border: 0;
	position: absolute;
	font-size: 20px;
	left: 50%;
	top: calc(50% - 2px);
	transition: all 0.4s;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.project_pagination .pages li,
.project_pagination button {
	cursor: pointer;
}

.project_pagination .arrow-button {
	background: none;
	border: none;
	font-size: 20px;
	position: absolute;
	top: calc(50% - 4px);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.project_pagination .arrow-button.button-prev {
	left: -30px
}

.project_pagination .arrow-button.button-next {
	right: -30px
}

.project_pagination .pages li:hover {
	background: #195595;
}

.project_pagination .pages li:hover button {
	color: #fff;
}

.mCS-custom-red.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-custom-red-right-bar.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-custom-blue.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #d23734 !important;
}

.et_social_networks {
	position: fixed;
	right: 5px !important;
	top: 50%;
	width: inherit !important;
	z-index: 1;
}

.et_social_networks .et_social_totalcount,
.et_social_networks .et_social_network_label {
	display: none !important;
}

.et_social_networks .et_social_icons_container {
	display: table !important;
	width: 42px !important;
}

.et_social_networks .et_social_icons_container li {
	margin-bottom: 10px !important;
}

.et_social_follow .et_social_icon {
	background: #fff !important;
}

.et_social_follow .et_social_icon_facebook {
	color: #325094 !important;
	border: 1px solid #325094 !important;
}

.et_social_follow .et_social_icon_youtube {
	color: #CF2A33 !important;
	border: 1px solid #CF2A33 !important;
}

.et_pb_scroll_top.et-pb-icon {
	bottom: initial !important;
	border-radius: 100% !important;
	width: 42px;
	height: 42px;
	padding: 6px 2px 0 0 !important;
	background: #fff !important;
	color: black !important;
	border: 1px solid;
	right: 5px !important;
}

.et_pb_scroll_top:before {
	content: "!";
}

ul#gform_fields_3 label {
	display: none;
}
#gform_3 {
	position: relative;
}

#gform_3 #input_3_9 {
	width: calc(100% - 23px);
}

.custom-album {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.custom-album-item {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	padding: 5px;
}

.custom-album-item img {
	width: 100%;
	display: block;
}

.recommend-letter img {
	margin: auto;
}

.recommend-letter .slick-dots {
	display: none!important;
}

.recommend-letter .slick-next.slick-arrow,
.recommend-letter .slick-prev.slick-arrow {
	border: none;
	background: transparent;
	color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.recommend-letter .slick-next.slick-arrow {
	right: 0;
}
.recommend-letter .slick-prev.slick-arrow {
	left: 0;
	z-index: 2;
}
.recommend-letter .slick-next.slick-arrow:after,
.recommend-letter .slick-prev.slick-arrow:after {
	font-family: FontAwesome;
	display: block;
	color: black;
	font-size: 40px;
	z-index: 2;
}

.recommend-letter .slick-prev.slick-arrow:after {
	content: "\f053";
}

.recommend-letter .slick-next.slick-arrow:after {
	content: "\f054";
}

.recommend-letter-thumbnail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.recommend-letter-thumbnail>div {
	display: flex;
	flex-direction: column;
	width: 10%;
	border: 5px solid transparent;
	transition: border 0.3s;
}

.recommend-letter-thumbnail>.active {
	border: 5px solid #838383;
}

.single-post .et_pb_post_title_0 h1.entry-title {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #195595;
	padding-bottom: 0;
}


/*--------------------------------------------------*/


/**

 * Class using for tab that contain slick slider

 * but not showing by default

 */

.tab_not_default_has_slick_slide {
	opacity: 0 !important;
	display: block !important;
	position: absolute !important;
	z-index: -1 !important;
	top: 0 !important;
	width: 100% !important;
	height: 0 !important;
	padding: 0 !important;
}


/* Post list with One Big Post and Small post list with custom scroll bar */

.big_post_column_middle {
	width: calc(52.75% - 15px) !important;
}

.post_image {
	display: block;
}

.post_info {
	display: flex;
	padding: 15px;
}

.post_date {
	text-align: center;
	padding-top: 20px;
	color: #1967a7;
	width: 10%;
}

.post_date .day {
	font-size: 30px;
	font-weight: bold;
}

.post_title_and_description {
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid;
	width: 90%;
}

.post_title_and_description h3 {
	font-weight: bold;
	color: #1967a7;
}

.post_title_and_description p {
	line-height: 1.1;
	text-align: justify;
}

.col_post_list_custom_scroll_bar {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.custom_scroll_bar_wrapper {
	position: relative;
	height: 100%;
}

.small_post_list.custom_scroll_bar {
	position: absolute;
	height: 100%;
}
.small_post_list.custom_scroll_bar .small_post_item {
	cursor: pointer;
}

.small_post_info h3 {
	font-weight: bold;
	font-size: 15px;
	color: #1967a7;
}

.section-bottom-home {
	border-bottom: 1px solid #b3b3b3;
}


/***************************\

    HOMEPAGE VIDEO SLIDER

\***************************/

.latest_video_slider .slick-dots {
	display: none!important;
}

.pll-mobile {
	display: none;
}

.home_news .small-items p {
	display: none;
}

.nav li.lang-item a {
	line-height: 1.2;
}
#home-news-3 .home-news {
	padding-top: 0;
}
#main-content .media_publications p {
	line-height: 1.5!important;
}
#form-career-position #field_2_1,
#form-career-position #field_2_2,
#form-career-position #field_2_3,
#form-career-position #field_2_4,
#form-career-position #field_2_5 {
	float: none;
	width: auto;
	position: initial;
}
#form-career-position .gform_footer.top_label {
	position: initial;
}
#ui-datepicker-div.ui-datepicker {
	margin-top: 0;
}
/***************************\

    RESPONSIVE

\***************************/


/* DESKTOP Only */

@media only screen and (min-width:1024px) {
	#slogan {
		font-size: 20px;
	}
	.et-fixed-header #slogan {
		font-size: 15px;
	}
	#et_top_search,
	#right-menu {
		float: right !important;
	}
	#et-top-navigation {
		background: #195595;
		transition: all 0.5s;
	}
	.et_pb_menu_hidden #et-top-navigation {
		background: #c5c5c5;
	}
	#hero-fullwidth-slider .et_pb_container {
		height: 50vw;
	}
	#hero-fullwidth-slider .et_pb_slider_container_inner {
		/*width: 45%;*/
		width: calc((100vw - 1080px - 17px) / 2 + 520px);
	}
	.home_news .big-item .info {
		padding-right: 5.5%;
		margin-top: 2%;
	}
	.homepage_careers .slick-dots {
		text-align: right;
	}
	#footer-widgets {
		padding-top: 30px;
	}
	.have_same_height_columns.bottom-button .same_height_column .button {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	.media_tab .button-group {}
	.media_fullwidth .content_wraper .et_pb_column:nth-child(1) {
		margin-right: 30px !important;
	}
	.media_fullwidth .content_wraper .et_pb_column:nth-child(2) {
		width: calc(29.666% + 5.5% - 30px) !important;
	}
	.media_fullwidth .content_wraper .small_post_list {
		overflow-y: hidden;
	}
	.home #career-row .et_pb_column:first-child .et_pb_module:last-child,
	.home #career-row .et_pb_column:last-child .et_pb_module:last-child {
		position: absolute;
		bottom: 0;
	}
	.latest_video_slider .big_post .post_info {
		height: 220px;
		overflow: hidden;
	}
	#form-career-position #gform_fields_2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#form-career-position #field_2_5 textarea {
		height: 128px;
	}
	#form-career-position #field_2_4 input[type="file"] {
		padding: 4px;
	}
	#form-career-position .col-left,
	#form-career-position .col-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#form-career-position .col-left {
		width: 40%;
	}
	#form-career-position .col-right {
		width: 60%;
	}
	.sub-menu .current-menu-ancestor {
		background: red;
	}
	#top-menu .menu-item-object-menu_description a {
		width: auto;
	}
	.search #main-content .container:before {
		background-color: transparent;
	}
	#top-menu .menu-item-object-menu_description a {
		padding-top: 0;
		padding-bottom: 0;
	}
	#top-menu .sub-menu  li.menu-item-object-menu_description:hover {
		background: white;
	}
	#top-menu .sub-menu  li.menu-item-object-menu_description:hover table {
		color: black;
	}
	.media_fullwidth.image_360, .image-360-container {
		height: 500px;
	}
	
}

/* DESKTOP and TABLET */

@media only screen and (min-width:768px) {
	#hero-fullwidth-slider .et_pb_slider_container_inner {
		position: absolute;
		bottom: 0;
	}
	.post_title_carousel .slick-slide {
		margin-right: 10px;
	}
	.custom_tab .et_pb_tabs_controls {
		height: 50px !important;
	}
	.custom_tab.tab_overlap {
		margin-top: -50px;
	}
	#home-news-3 h2 {
		overflow: hidden;
		max-height: 72px;
		line-height: 1.2;
	}
	#gform_3 .gform_footer {
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		width: auto;
	}
	#featured-project-section .view_all_1 {
		color: white;
		background-color: #195594;
	}
}


/* TABLET Only */

@media only screen and (max-width:1024px) and (min-width:992px) {
	#home-news-3 h2 {
		height: 72px;
		overflow: hidden;
		padding: 0;
		line-height: 18px;
	}
	.home_news h2 {
		padding-top: 10px;
	}
	.latest_video_slider .big_post .post_info {
		height: 295px;
		overflow: hidden;
	}
	.media_tab .button {
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	.media_publications .media_item > div {
		height: 100%;
	}
	.home_news.information_market .image-wrap  {
		margin-right: 0;
	}
	#career-row {
		overflow: visible;
		flex-wrap: wrap;
	}
	#career-row .et_pb_column_1_4 {
		width: 47.25%;
		margin-bottom: 20px;
	}
	#career-row .et_pb_column_1_2 {
		width: 100%;
		order: 5;
	}
	.home_news .small-items .image-wrap {
	    max-height: 96px;
	}
	.media_fullwidth.image_360, .image-360-container {
		height: 400px;
	}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
	#slogan {
		font-size: 19px;
	}
	#hero-fullwidth-slider .et_pb_container {
		height: 500px;
	}
	#hero-fullwidth-slider .et_pb_slider_container_inner {
		width: 65%;
	}
	.media_publications .featured_image,
	.media_publications .item_info {
		width: 47.5% !important;
	}
	.media_publications .featured_image {
		margin-right: 5%;
		margin-bottom: 0;
	}
	.home_news .small-items>div {
		width: 47.5% !important;
	}
	.home_news .small-items .et_pb_column:nth-child(2n+1) {
		margin-right: 5%;
	}
	.home_news.information_market .image-wrap  {
		margin-right: 0;
	}
	#home-news-3 {
		padding-bottom: 30px;
	}
	.media_fullwidth .content_wraper .small_post_item:nth-child(odd) {
		margin-right: 5%;
	}
	.media_fullwidth .content_wraper .small_post_item {
		margin-bottom: 15px;
		width: 47.5%!important;
		float: left;
	}
	.logo_container {
		text-align: center;
	}
	.main_services .et_pb_column_1_3 {
		width: calc(33% - 3px)!important;
		margin-right: 6px;
	}
	.home_news .big-item>*:not(:first-child) {
		margin-top: 0;
		margin-bottom: 0;
	}
	#home-news-3 h2 {
		height: 71px;
		overflow: hidden;
	}
	#home-news-3 .small-items>.et_pb_column_1_3 {
		min-height: initial;
	}
	.home_news .small-items .image-wrap {
    	max-height: 164px;
	}
	.media_fullwidth.image_360, .image-360-container {
		height: 500px;
	}
	.et_header_style_centered .mobile_menu_bar {
		top: 10px;
	}
	#main-header .pll-mobile {
		top: 46%;
	}
}


/* TABLET and MOBILE */

@media only screen and (max-width:1023px) {
	.menu-item-object-menu_description {
		display: none;
	}
	.menu-item.text {
		display: none;
	}
	#et_mobile_nav_menu {
		background: #fff;
	}
	#et_mobile_nav_menu .mobile_nav {
		width: 80%;
		margin: auto;
	}
	.et_header_style_centered .mobile_menu_bar {
		right: 10%;
	}
	.home_news .big-item .info {
		padding: 0 30px 30px 30px;
	}
	.homepage_careers .slick-dots {
		text-align: center;
	}
	.media_fullwidth .small_post_list {
		max-height: 50vh;
		overflow: hidden;
	}
	#footer-info {
		text-align: left;
	}
	#social-info span {
		display: block;
		margin-bottom: 5px;
	}
	.project_pagination {
		width: 80%;
		max-width: 1080px;
		margin: auto;
	}
	.home #career-row .et_pb_column:first-child .et_pb_module:last-child,
	.home #career-row .et_pb_column:last-child .et_pb_module:last-child {
		position: relative;
	}
	.col_post_list_custom_scroll_bar {
		display: none;
	}
	.big_post_column_middle {
		width: 100%!important;
	}
	div#page-container {
		padding-top: 100px!important;
	}
	#main-header .pll-mobile {
		display: block;
		width: 34px;
		height: 34px;
		position: absolute;
		right: 5%;
		transform: translateY(-50%);
		background-image: url(/wp-content/uploads/2017/06/earth-big.png);
		background-size: contain;
		z-index: 100;
	}
	.pll-mobile select {
		opacity: 0;
		position: relative;
		left: -25px;
		top: 15px;
	}
	.pll-parent-menu-item {
		display: none;
	}
	.et_header_style_centered .mobile_nav .select_page {
		display: none;
	}
	.et_header_style_centered #main-header div#et-top-navigation {
		width: auto;
	}
	.et_header_style_centered .mobile_menu_bar {
		right: auto;
		left: 10%;
	}
	div#et_mobile_nav_menu {
		top: -85px;
		background: transparent;
	}
	header#main-header {
		height: 100px;
		padding: 10px 0;
	}
	.logo_container {
		width: 48%!important;
		line-height: 1;
	}
	.footer-collapse+div {
		height: 100%;
		transition: height 0.3s;
		overflow: hidden;
	}
	.footer-collapse:after {
		content: "\f078";
		font-family: FontAwesome;
		display: inline-block;
		transform: rotate(180deg);
		transition: transform 0.3s;
		position: relative;
		left: 5px;
		top: -2px;
	}
	.footer-collapse.footer-collapsed:after {
		transform: rotate(0deg);
	}
	.et_header_style_centered #main-header .mobile_nav {
		background: transparent;
	}
	#main-header .pll-mobile:not(.active) .pll-mobile-container {
		width: 0;
		padding: 0;
		border: none;
	}
	#main-header .pll-mobile-container {
		position: absolute;
		right: 0;
		top: 100%;
		background-color: white;
		padding: 3px 15px;
		border: 1px solid #cacaca;
		width: 300px;
		overflow: hidden;
		transition: all 0.3s ease-out;
	}
	
	.language-selector li {
		display: inline-block;
		padding-left: 10px
	}
	
	.pll-mobile-container .language-selector {
		white-space: nowrap;
	}
	.pll-mobile-container .search-field {
		padding-bottom: 0;
		padding-left: 0;
	}
	.pll-mobile-container .search-field input {
		border: none;
		border-bottom: 1px solid #cacaca;
		width: 100%;
		line-height: 28px;
		padding-right: 30px;
		height: auto;
		padding-left: 0;
	}
	
	.pll-mobile-container > div {
		margin-bottom: 5px;
		position: relative;
	}
	.pll-mobile .search-field button {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		border: none;
		background-color: transparent;
	}
	.media_fullwidth.image .image-nav {
		margin: auto;
		width: 80%;
		display: block;
	}
	
	.image-view.slick-initialized.slick-slider {
		width: 100%;
		display: block;
	}
	.media_fullwidth.image .slick-prev,
	.media_fullwidth.image .slick-next {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		left: initial;
	}
	
	.media_fullwidth.image .slick-next {
		right: -50px;
	}
	
	.media_fullwidth.image .slick-prev {
		left: -50px;
	}
}


/* MOBILE Only */

@media only screen and (max-width:767px) {
	#hero-fullwidth-slider .et_pb_slider_container_inner {
		width: 100%;
	}
	#hero-fullwidth-slider .et_pb_slide_description {
		padding: 20px 50px;
	}
	.media_publications .featured_image {
		margin: 30px 0 15px 0;
	}
	.media_fullwidth.image .slick-prev {
		left: -27px;
		top: 40%;
	}
	.media_fullwidth.image .slick-next {
		right: -27px;
		top: 40%;
	}
	.main_services a {
		width: 80%;
	}
	.main_services .et_pb_blurb_container {
		display: none;
	}
	.main_services .et_pb_main_blurb_image a:hover:after,
	.main_services .active .et_pb_main_blurb_image a:after {
		border: none;
		width: 100%;
		height: 100%;
		background-color: transparent;
	}
	.et_header_style_centered #main-header .mobile_nav {
		background: transparent;
	}
	header#main-header {
		box-shadow: none;
	}
	span.logo_helper {
		height: 0;
	}
	.et-pb-slider-arrows {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 50%;
		width: 100%;
	}
	.et_mobile_device .et-pb-arrow-prev,
	.et_mobile_device .et-pb-arrow-next {
		position: absolute;
		margin: 0;
		z-index: 3;
	}
	.et-pb-arrow-prev {
		bottom: 0;
		top: initial;
	}
	.home .et-pb-slider-arrows .et-pb-arrow-next {
		top: 100%;
	}
	.featured_projects .slick-current p {
		display: block;
		opacity: 1;
		transition: opacity 0.3s;
		text-align: left;
	}
	.featured_projects p {
		opacity: 0;
		transition: opacity 0.3s;
		white-space: nowrap;
	}
	.overflow-text-center {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
	}
	.main_services .active #image1 a:after,
	.main_services .active #image2 a:after,
	.main_services .active #image3 a:after,
	.main_services #image1 a:hover:after,
	.main_services #image2 a:hover:after,
	.main_services #image3 a:hover:after{
		background-size: 80%;
	}
	.featured_projects .slick-slide {
		margin: 1px 5px;
	}
	.client_logo_carousel button.slick-prev,
	.featured_projects button.slick-prev {
		left: -1px;
	}
	.client_logo_carousel button.slick-next,
	.featured_projects button.slick-next {
		right: -1px
	}
	.featured_projects button.slick-next,
	.featured_projects button.slick-prev {
		bottom: 6px;
		top: auto;
		z-index: 3;
	}
	.featured_projects button.slick-next:before,
	.featured_projects button.slick-prev:before {
		background-color: #232323;
		opacity: 0.8;
	}
	#main-content .featured_projects p {
		margin-top: 23px;
	}
	.home.et_mobile_device_not_ipad .et_pb_row {
		width: 90%;
	}
	#featured-project-section {
		padding-bottom: 60px;
		padding-top: 20px;
	}
	#featured-project-section .view_all {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border: none;
	}
	.home_news .big-item .info {
		margin: 0;
	}
	.home_news .big-item .info .post-title a {
		font-size: 20px;
	}
	.home_news .big-item .info p.date,
	.home_news .big-item .info p.post-link {
		display: none;
	}
	.home .home_news .small-items a {
		display: flex;
		flex-wrap: nowrap;
	}
	.home_news .small-items a {
		display: flex;
		flex-wrap: wrap;
	}
	.home_news .small-items a>* {
		flex-direction: column;
		display: flex;
	}
	.home .home_news .small-items a>*:first-child {
		width: 46%;
	}
	.home .home_news .small-items a>*:not(:first-child) {
		width: 54%;
	}
	.home_news .small-items a>*:first-child {
		width: 100%;
	}
	.home_news .small-items a>*:not(:first-child) {
		width: 100%;
	}
	#home_news_1 .small-items h2,
	#home_news_2 .small-items h2 {
		height: auto;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0;
		overflow: hidden;
		margin-bottom: 0;
	}
	.home_news .small-items .image-wrap {
		margin-right: 10px;
	}
	.home_news .big-item .info {
		padding: 0;
	}
	#home-news-1 .et_pb_code:first-child,
	#home-news-2 .et_pb_code:first-child,
	#client-section .et_pb_code:first-child,
	#featured-project-section .et_pb_code:first-child {
		position: initial;
	}
	#home-news-3 {
		display: none;
	}
	.latest_video_slider .big_post .post_info {
		display: none;
	}
	.xs-bottom-view-all.view_all_1,
	.xs-bottom-view-all.view_all {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: none;
		background: #195594;
		color: white;
	}
	.video-section .xs-bottom-view-all.view_all_1 {
		position: relative;
		top: initial;
		left: initial;
		transform: initial;
	}
	.job-item img {
		width: 100%;
	}
	.content-wrap {
		padding: 10px 10px 5px 0;
	}
	.home_news .big-item>*:not(:first-child) {
		padding-left: 10px;
		padding-right: 10px;
	}
	.custom-album-item {
		width: 50%;
	}
	.pll-mobile {
		right: 15px;
		top: 50%;
		transform: translateY(-50%); 
	}
	.mobile_menu_bar:before {
		color: #195595;
	}
	.mobile_menu_bar:before {
		left: -30px;
		font-size: 52px;
	}
	#dv-9 {
		padding: 25px 0;
	}
	.section_title {
		padding-bottom: 10px;
		font-size: 20px;
	}
	.main_services .et_pb_column {
		margin-bottom: 0px;
	}
	.slick-c {
		text-align: center;
		font-weight: 800;
	}
	.slick-c a {
		color: #000;
	}
	.slick-c .slick-arrow {
		padding: 2px 11px;
		font-size: 21px;
		top: 50%;
		transform: translateY(-50%);
	}
	.arrow-r {
		background: #175780;
		position: absolute;
		right: 0;
		border: none;
	}
	.arrow-l {
		background: #175780;
		position: absolute;
		left: 0;
		z-index: 2;
		border: none;
	}
	.arrow-l .fa,
	.arrow-r .fa {
		color: #fff;
	}
	.home_news .small-items {
		flex-wrap: wrap;
	}
	#home-news-1 .small-items h2, #home-news-2 .small-items h2 {
		white-space: nowrap;
		text-overflow: ellipsis;
		height: auto;
		padding: 0;
		margin-bottom: 0;
	}
	#form-career-position #input_2_6 > div{
		position: relative;
		max-width: 100%;
	}
	#form-career-position #input_2_6 > div:after {
		background: #f9f9f9;
		position: absolute;
		content: "";
		width: 125px;
		height: 60px;
		top: 1px;
		right: 1px;
	}
	#form-career-position #input_2_6 > div:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 76px;
		border: 1px solid #d3d3d3;
		pointer-events: none;
	}
	.et_pb_row.mobile-fullwidth {
		width: 100%!important;
	}	
	.featured_projects .slick-slide.slick-active:not(.slick-current) {
		margin-left: 0px;
		margin-right: 10px;
	}
	.featured_projects .slick-current + .slick-slide.slick-active:not(.slick-center) {
		margin-left: 10px;
		margin-right: 0px;
	}
	#featured-project-section .section_title {
		margin: 0 18px;
	}
	.info-inner + p {
		margin-top: 20px;
	}
	.flipbook-container .fb-nav ul li:last-child {
		margin-right: 20px!important;
	}
	h4 {
		line-height: 1.3;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls {
		position: relative;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > li {
		transition: all 0.3s;
		opacity: 0;
		width: 100%;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > li:first-child {
		position: relative;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > li:not(:first-child) {
		position: absolute;
		top: 0;
		left: 0;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls.active > li {
		opacity: 1;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls.active > li:not(:first-child) {
		background-color: white!important;
		border-right: 1px solid #f0f0f0!important;
		border-bottom: 1px solid #f0f0f0!important;
		color: #195595;
		opacity: 1;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > .et_pb_tab_active {
		opacity: 1;
		z-index: 13;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls:not(.active) > li.et_pb_tab_active:after,
	.mobile-collapse-tab > ul.et_pb_tabs_controls.active > li:first-child:after {
		content: "\f0dd";
		position: absolute;
		display: block;
		right: 10px;
		font-family: FontAwesome;
		top: 5px;
		width: auto;
		height: auto;
		left: initial;
		bottom: initial;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > li.et_pb_tab_active a {
		display: block;
	}
	.mobile-collapse-tab > ul.et_pb_tabs_controls > li.et_pb_tab_active a:after {
		width: calc(100% + 30px);
	}
	.custom_tab .et_pb_tabs_controls li {
		display: inline-block;
	}
	.et_pb_column {
		margin-bottom: 10px;
	}
	.media_fullwidth.image_360, .image-360-container {
		height: 300px;
	}
	#main-header .pll-mobile {
		top: 56%;
	}
	.et_header_style_centered .mobile_menu_bar {
		top: -2px;
	}
}