/* Fix Home page */
#social-info{
  margin-top: 10px;
  margin-bottom: 15px;
}
#social-info p{
  margin-bottom: 10px;
}
#social-info a{
  vertical-align:middle;
}
.et_pb_code_11{
  font-size: 16px;
}
#mCSB_1_container .small_post_info h3, #mCSB_2_container .small_post_info h3{
  text-align:left;
	text-transform: uppercase;
}
.et_pb_code_0 .search{
  font-weight: normal;
  font-size: 16px;
  color: #000;
}
.custom_tab_project ul li span {
  font-size: 16px !important;
}
.custom_tab_project .image-wrap{
  margin-bottom: 15px !important;
}
.search select{
  text-align: right;
  padding-right: 5px;
}
#hero-fullwidth-slider{
	z-index: 999999;
}
#main-header, #wpadminbar{
	z-index: 9999999;
}
/*============================================Fix Home page Mobile==============================*/
@media (max-width:767px)
{
	.home .et_pb_slides .et_pb_slider_container_inner
	{
		padding-top:53vw;
	}
	.home #hero-fullwidth-slider .et_pb_slide_description
	{
		padding:15px !important;
		margin:0px !important;
	}
	.home #hero-fullwidth-slider .et_pb_slide
	{
		padding: 0;
		background-size: contain;
		background-position: top;
	}
	.home #hero-fullwidth-slider h2
	{
		font-size: 14px;
	}
	.home #hero-fullwidth-slider .et_pb_slide_description 
	{
		 background: rgba(23, 87, 128, 1.1) !important;
	}
	.home .et_pb_slide_description a
	{
		display:none!important;
	}
	.home  .et-pb-slider-arrows .et-pb-arrow-next
	{
		top: initial;
		bottom: 0;
		background-color:#EE0000;
	}
	.home .et_pb_section_2 .main_services .et_pb_column
	{
		width:33% !important;
	}
	.home .et_pb_section_2 .main_services {
		padding:0px;
	}
	.home #my_customer .section_title
	{
		font-size:20px;
	}
	.home .et_pb_section_4 .et_pb_code a#view_all_mobile
	{
		display:block;
		margin:0px auto;
		width: 33%;
		float:none;
		background: #195595;
		color:#fff;
		font-size:12px;
		padding: 5px 15px 5px 15px;
	}
	.home .et_pb_section_4 .et_pb_code a#view_all_mobile:hover {
		background: #e3302c;
	}
	.home .et_pb_section_4 .et_pb_code a#view_all_mobile i
	{
		margin-left: 8px;
		font-size: 25px;
		vertical-align: middle;
	}
}
@media (min-width:768px)
{
	.home .et_pb_section_4 .et_pb_code a#view_all_mobile
	{
		display:none;
	}
}

/*Style page Tai Lieu nhan Su*/
#main-content .container.company_document{
	padding-top: 0;
	width: 100%;
}
#top-menu-nav .sub-menu {
    padding-top: 0;
}
.company_document table tr {
	float: none;
}
.company_document table td,.company_document table th{
	font-size: 16px;
   line-height: 30px !important;
}

.company_document .table a:hover{
	opacity: 0.7;
}
.company_document .table {
    border: none !important;
}
.company_document .table tr td{
	border-top: none !important;
}
.company_document .table tr td{
	padding: 24px 9px !important;
}
.company_document .table tr th{
	padding: 0px 9px 14px 9px !important;
}
.company_document .table tr{
	border-bottom: 2px solid #dddddd;	
}
.odd_td{
	background: #f9f9f9;
}

.company_document .table td:last-child, .company_document .table th:last-child {
    width: 100px;
}