.st-footer #tab-footer ul li{
	display: inline-block;
    padding: 5px;
    width: 120px;
    cursor: pointer;
    margin-bottom: 0;
    box-shadow: 2px -2px 5px 0px;
}
.st-footer #tab-footer .current{
	background: #fff;
    box-shadow: 2px -3px 5px -1px;
}
.st-footer #tab-footer ul{
	margin: 0;
}
.st-footer .content-tab {
	background: #fff;
    padding: 10px;
    text-align: left;
}
.st-footer ul#jquery-tab-pager-navi {
    display: none;
}