
/*-----------------------------------------------------------------------------------*/
/*	Main Styles
/*-----------------------------------------------------------------------------------*/
#TB_ajaxContent {
	overflow-y: auto !important;
}

#mpc-tinymce-window {
	width: 100%;
	font: 12px/20px Arial, Helvetica, sans-serif;
}


#mpc-tinymce-window.no_preview {
	width: 100%;
}

/* form side */
#mpc-sc-form-wrap {
	width: 100%;
	float: left;
	overflow: auto;
	//background: url('../images/bg.jpg') repeat;
}

/* HEADER */
#mpc-tinymce-header {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #333333;
	padding: 15px 15px 15px 15px;
}

/* Preview Header */
#mpc-sc-preview-head {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #000000 1px 1px 0px;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#555555), to(#333333));
	background-image: -webkit-linear-gradient(top, #555555, #333333);
	background-image: -moz-linear-gradient(top, #555555, #333333);
	background-image: -o-linear-gradient(top, #555555, #333333);
	background-image: -ms-linear-gradient(top, #555555, #333333);
	background-image: linear-gradient(top, #555555, #333333);
	padding: 15px 15px 15px 15px;
}

/* Window Body*/
#mpc-tinymce-form-win {
	width: 98%;
	padding-left: 1%;
}

/*-----------------------------------------------------------------------------------*/
/*	TinyMCE Options
/*-----------------------------------------------------------------------------------*/

/* Option Wrap */
#mpc-tinymce-form-wrap .mpc-tinymce-option {
	display: block;
	min-height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #CECECE;
	border-top: 1px solid #FFFFFF;
	padding-top: 5px;
}

.mpc-tinymce-option:first-child {
	border-top: none;
	border-bottom: none;
}

#mpc-tinymce-form-wrap .mpc-tinymce-option:last-child {
	border-top: none;
	border-bottom: none;
}


/* Option Heading */
.mpc-tinymce-option h3.tinymce-heading {
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
}

/* Option Description */
.mpc-tinymce-option .tinymce-description {
	display:block;
	font-size: 12px;
	color: #535353;
	margin: 10px 0px 10px 1px;

}

.mpc-tinymce-option .last-description {
	margin: 10px 0px 45px 1px;
}

/* Save Button */
div.tinymce-insert {
	display: block;
	margin-top: 0px;
	padding-bottom: 25px;
	padding-top: 10px;
	border-top: 1px solid #FFFFFF;
	text-align: center;
}

div.insert-inside {
	margin-top: 11px;
}

div.tinymce-insert a {
	color: #ffffff !important;
	background: #333333;
	border: 2px solid #333333;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 16px;
	margin: 10px 0px 0px -2px;
	font-weight: bold;
	text-decoration: none;

	-webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

div.tinymce-insert a:hover {
	color: #333333 !important;
	background: none;
}


/* Delete Button */
.duplicate-remove {
	background-image: url('../images/remove.png');
	display: block;
	width: 32px;
	height: 32px;
	margin: -43px 0px 11px 355px;
}

/* Add Button */
.duplicate-button {
	background-image: url('../images/add.png');
	display: block;
	width: 32px;
	height: 32px;
	margin: -43px 0px 0px 320px;
}


/*-----------------------------------------------------------------------------------*/
/*	Preview Section
/*-----------------------------------------------------------------------------------*/

/* Frame */
#mpc-sc-preview-wrap {
	width: 425px;
	/*position: fixed;
	left: 609px;*/
	background: #FFFFFF;
	color: #000000;
	float: left;
	overflow: auto;
}

#mpc-sc-preview {
	border-left: solid 1px #C8C8C8;
}

#mpc-popup.no_preview #mpc-sc-preview-wrap {
	display: none;
}
#mpc-sc-preview-wrap #mpc-tinymce-header { /* preview header */
	width: 424px;
	padding: 15px;
	color: #333;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 1px 0px #fff;
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#d0d0d0));
	background-image: -webkit-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -moz-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -ms-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -o-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: linear-gradient(top, #dddddd, #d0d0d0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#d0d0d0');
}
#mpc-sc-preview-wrap #mpc-sc-nopreview {
	padding: 15px;
	width: 219px;
	font-size: 14px;
	font-weight: bold;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	height: 100%;
}




/*-----------------------------------------------------------------------------------*/
/*	Form Fields
/*-----------------------------------------------------------------------------------*/


/* Text Field */
.mpc-tinymce-option .tinymce-text {
	width: 350px;
	display: block;
	font-size: 12px;
	color: #3e3e3e;
	padding: 10px 15px;
	outline: none !important;
	box-shadow: none !important;
}

/* Drop Down / Select */
.mpc-tinymce-option .tinymce-dropdown {
	padding: 5px 10px;
	font-size: 12px;
	color: #3e3e3e;
	border: 1px solid #a3a3a3;
	background: #f7f7f7;
	min-width: 100px;
}

/* TextArea */
.mpc-tinymce-option .tinymce-textarea {
	width: 350px;
	padding: 5px 10px;
	background: #f7f7f7;
	border: none;
	border-left: solid 1px #ddd;
	border-top: solid 1px #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mpc-tinymce-option .tinymce-text,
.mpc-tinymce-option .tinymce-textarea,
.mpc-tinymce-option .tinymce-dropdown {
	background: #f0f0f0;
	border: none;
	margin: 0;
	box-shadow: none;
	width: 100%;
}

/* - textarea */
.mpc-tinymce-option .tinymce-textarea {
	height: 120px;
}
#mpc-sc-form-table tbody tr.form-row.has-child .mpc-form-textarea {
	height: 100px;
}

/* - select */
.mpc-tinymce-option .tinymce-dropdown {
	display: block;
	height: 35px;
}
#mpc-sc-form-table tbody tr.form-row.has-child .mpc-form-select {
	width: auto;
	height: 25px;
}

/* - desc */

#mpc-sc-form-table tbody tr.form-row .child-clone-row-desc {
	display: block;
	font-size:  12px;
	color: #aaa;
	font-style: italic;
	padding-top: 3px;
}
.mpc-fb-anylink-output {
	margin-top: 10px;
}
.mpc-fb-anylink-output code {
	display: inline-block;
	padding: 8px 10px 9px;
    margin: 0;
    font-size: 16px;
}
.mpc-fb-anylink-desc {
	margin: 10px 0px 10px 1px;    
}

/*-----------------------------------------------------------------------------------*/
/*	Info Boxes
/*-----------------------------------------------------------------------------------*/

/* Info */
div.info {
	padding: 10px;
	font-weight: 600;
	margin: 5px 0px -5px 0px;
	width: 355px;
	font-size: 12px;
	display: block;
	clear: both;
}

/* black */
div.box-black {
	color: #535353;
	background: url('../images/notice-black.png');
}

div.box-black a {
	color: #535353;
}

div.box-black a:hover {
	text-decoration: none;
}

/* green */
div.box-green {
	color: #0c8b15;
	background: url('../images/notice-green.png');
}

div.green a {
	color: #0c8b15;
}

div.box-green a:hover {
	text-decoration: none;
}

/* yellow */
div.box-yellow {
	color: #bf710d;
	background: url('../images/notice-yellow.png');
}

div.yellow a {
	color: #bf710d;
}

div.box-yellow a:hover {
	text-decoration: none;
}

/* red */
div.box-red {
	color: #8c1e1e;
	background: url('../images/notice-red.png');
}

div.box-red a {
	color: #8c1e1e;
}

div.red a:hover {
	text-decoration: none;
}

/*--------------------------- END Info Boxes -------------------------------- */

/* Shortcode icon */
.mce-ico.mce-i-mpc_add {
	background: url('../images/add.png') no-repeat center center;
	background-size: 20px 20px;
}

/* Multiselect */
.mpc-multi-wrap {
	position: relative;
}
.mpc-multi-wrap .mpc-multi {
	width: 90%;
	background: #f0f0f0;
	border: none;
	margin: 0 0 10px;
	box-shadow: none;
}
.mpc-multi-wrap:first-child .mpc-multi {
	width: 100%;
}
.mpc-multi-wrap .mpc-remove-fb {
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	height: 35px;
	line-height: 35px;
	font-size: 28px;
	text-align: center;
	background: #f7f7f7;
	color: #ff7166;
	border: none;
	text-decoration: none;
	font-family: Arial, sans-serif;
	box-shadow: none;
}
.mpc-multi-wrap .mpc-remove-fb:hover {
	background: #ff7166;
	color: #f7f7f7;
}
.mpc-multi-wrap:first-child .mpc-remove-fb {
	display: none;
}

.mpc-add-new-fb.mpc-add-new-fb {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background: #f7f7f7;
	color: #6fd16f;
	border: none;
	text-decoration: none;
	box-shadow: none;
	padding: 5px 10px;
	outline: none;
}
.mpc-add-new-fb:hover {
	background: #75db6e;
	color: #f7f7f7;
}

/* Image select */
a.mpc-image-wrap {
	display: block;
	background: #f3f3f3;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px solid #f0f0f0;
	outline: none;
	box-shadow: none;
}